<style>
	#themeswitch_dashboard {
		font-family: sans;
		font-size: 14px;
		color: #000000;
		padding: 15px;
	}

/*	
	#themeswitch_dashboard a, #themeswitch_dashboard a:visited, #themeswitch_dashboard a:active {
		color: blue;
		text-decoration: none;
	}
*/
	
	#themeswitch_dashboard a:hover {
		text-decoration: underline;
	}
</style>

<div id="themeswitch_dashboard">

<h1>myEWB has a new look!</h1>

<p>
	myEWB has a new look and feel - one that is cleaner and more streamlined.
	This is the first step in our revitalization of myEWB and our online 
	community & collaboration platforms, and we hope you like it!
</p>

<p>
	Please send us your feedback!  And if you do want to switch back to
	the old site, you can do so here...
</p>

<br/>

<div style="float: left; width: 40%;">
	<a href="{% url themeswitch_select 'legacy' %}"><strong>&laquo; back to the <em>old</em> myEWB...</strong></a>
</div>

<div style="margin-left: 50%;">
	<a href="{% url themeswitch_select 'myewb2' %}"><strong>&raquo; forward to the <em>new</em> myEWB!</strong></a>
</div>

</div>
