{# Put this in its own file, just because it's so big... #}

<link rel="stylesheet" href="{{ STATIC_URL }}css/myewb-frontright.css?d=20100608c" />

        <div>
                <div class="toolbarcontent_right">
                    <ul class="postlinklist">
                        <li>&raquo; EWB Direction (<a href="http://vision.ewb.ca/sites/vision.ewb.ca/files/direction.pdf" target="_blank">pdf</a>) (<a href="http://vision.ewb.ca/node/148" target="_blank">browse</a>)</li>
                        <li>&raquo; EWB Values (<a href="http://my.ewb.ca/postfile/69028/EWB+Values_and_Beliefs.pdf" target="_blank">pdf</a>) (<a href="http://vision.ewb.ca/node/150" target="_blank">browse</a>)</li>
                        <li>&raquo; <a href="http://chapters.ewb.ca/" target="_blank">Chapter resources</a></li>
                        <li>&raquo; <a href="http://wiki.ewb.ca/" target="_blank">Orange Wiki of Change</a></li>
                        <li>&raquo; <a href="http://vision.ewb.ca/" target="_blank">EWB Vision</a></li>

                    </ul>
                </div>
        </div>

