<img src="{{STATIC_URL}}images/status_icons/svn_conflicted.png" style="float: left; padding: 0.8em 3px 0 0;"/>
myEWB is: <br/>
<a href="{% url about %}#status">online with minor problems</a> 

{% comment %}
<img src="{{STATIC_URL}}images/status_icons/bug.png" style="float: left; padding: 0.1em 3px 0 0 ;"/>
myEWB is: <br/>
<a href="{% url about %}#status">online with some bugs</a>
{% endcomment %}

<br/>

<br/><br/>The FIFA World Cup in South Africa has started! You can watch it <a href="http://www.cbc.ca/sports/soccer/fifaworldcup/" target="_blank" title="We're not *actually* sponsored by CBC... we just think it's awesome. :)">streaming online on CBC</a>. We are!
