{% extends 'events/base.html' %}

{% block entire_body %}
{#	{% ifequal request.META.SERVER_NAME "conference2012.ewb.ca" %} #}
	{% ifequal request.META.SERVER_NAME "localhost.localdomain" %}
	
<head>
	
	<title>{% block head_title %}{% endblock %} - EWB 2012 National Conference</title>
	
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<meta name="author" content="Engineers Without Borders-Ingénieurs Sans Frontières Canada" />
<meta name="description" content="Official website of the Engineers Without Borders 2012 National Conference in Ottawa, ON, Canada" />
<meta name="keywords" content="ewb, isf, 2012, conference, ottawa, engineers without borders, innovation" />
<meta name="robots" content="index,follow" />


	<!-- FlexSlider pieces -->
	<link rel="stylesheet" href="https://conference2012.ewb.ca/public/themes/flexslider/flexslider.css" type="text/css" media="screen" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script src="https://conference2012.ewb.ca/public/themes/flexslider/jquery.flexslider-min.js"></script>

	<!-- Engage. -->
	<script type="text/javascript">
		$(window).load(function() {
			$('.flexslider').flexslider({
				slideshowSpeed: 8000
			});
		});
	</script>

	
		<script src="{{ STATIC_URL }}/js/jquery.js" type="text/javascript"></script>
	<link rel="stylesheet" href="https://conference2012.ewb.ca/public/themes/conference-main.css" media="all" type="text/css" />
	<link rel="shortcut icon" href="https://conference2012.ewb.ca/favicon.ico" />

    <link rel="stylesheet" href="{{ STATIC_URL }}css/uni-form/uni-form.css" />    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/uni-form/default.uni-form.css" />            



</head>
<body>
<a name="top" id="topanchor" style="float:left;"></a>



	<!-- header starts-->
<div id="header-bg"></div>
	<div id="header-wrap" >			
		
		<h1 id="logo-text"><a href="http://conference2012.ewb.ca/" title=""></a></h1>		
			<p id="intro">&nbsp;<br/>Jan. 11 - 14, 2012<br/>Ottawa, Ontario</p>	
		
		<div class="nav-outer" id="nav">
		<ul class="nav">
		<li><a id="current" href="http://conference2012.ewb.ca/en/">Home</a></li>

		<li>
<a href="http://conference2012.ewb.ca/en/conference.html" >Conference</a></li>
		<li>
<a href="http://conference2012.ewb.ca/en/speakers.html" >Speakers</a></li>
		<li>
<a href="http://conference2012.ewb.ca/en/logistics.html" >Logistics</a></li>
		<li>
<a href="http://conference2012.ewb.ca/en/sponsors.html" >Sponsors</a></li>
		<li>
<a href="http://conference2012.ewb.ca/en/registration.html" >Registration</a></li>
		<li>
<a href="http://conference2012.ewb.ca/en/blog.html" >Blog</a></li>
 
 

		</ul>		
		</div><!-- end #nav -->



	<!-- search form was here -->	



	</div>
	<!-- #header ends here -->





	<!-- content starts -->
	<div id="content-outer" class="clear homepage">

<div class="innovationflex-container">
	<div class="flexslider innovationflex">
	    <ul class="slides">
	   <!-- 	<li>

	    		<a href="http://conference2012.ewb.ca/en/conference/leadership-day.html"><img src="http://conference2012.ewb.ca/public/images/banners/hall1.jpg" /></a>
	    		<p class="flex-caption"><b>Leadership Day</b>  applications close on Wednesday, November 16th at 11:59 PM EST. <b>Apply today!</b></p>
	    	</li>
-->
	<!--	<li>
	    		<img src="http://conference2012.ewb.ca/public/images/banners/hall1.jpg" />
	    		<p class="flex-caption"><b>Book your calendars!</b> January 11 to 14th, Ottawa will play host to the Engineers Without Borders 2012 National&nbsp;Conference.</p>
	    	</li>
-->

	    	<li>
			<a href="http://conference2012.ewb.ca/en/conference/innovation-challenge.html"><img src="https://conference2012.ewb.ca/public/images/banners/inn_challenge.JPG" /></a>
	    		<p class="flex-caption">Do you have a creative idea for systemic change? <b>Innovation Challenge</b> applications now open!</p>
	    	</li>
	    	<li>

	    		<a href="http://conference2012.ewb.ca/en/speakers/special-guests.html"><img src="https://conference2012.ewb.ca/public/images/banners/speakers1.png" /></a>
	    		<p class="flex-caption">We’re excited to introduce three new speakers: <b>Allan Rock</b>, <b>Samantha Nutt</b> and <b>Sanjit "Bunker" Roy</b></p>
	    	</li>
	    	<li>
			<img src="https://conference2012.ewb.ca/public/images/banners/shirt3.jpg" />
	    		<p class="flex-caption">The conference team is proud to unveil the official conference T-Shirt!</p>
	    	</li>

	    </ul>
	</div>
</div>
		<div id="content-wrapper">

			<!-- column-one -->
			<div id="content" class="single-col">
		{% block body %}
		{% endblock %}
		
</div><!-- end #content + #column-one -->






	<!-- contents end here -->
		</div>


	<div id="breadcrumbs">	
		<!--breadcrumbs -->
<div id="top-link"><a href="#top">&uarr; 	Top</a></div>
	</div>


	</div><!-- end #content-outer + #content-wrapper -->
	
	<div id="footer-container">	
	


	<div id="footer-bottom">
	
		<p class="bottom-left">			
		&copy;2011 <strong><a class="footer_links" href="http://ewb.ca">EWB-ISF Canada</a></strong> | <a class="footer_links" href="http://conference2012.ewb.ca/fr.html">Fran&ccedil;ais</a>

| <a class="footer_links" href="http://conference2012.ewb.ca/en.html?mobile=on">Mobile site</a>
			</p>	
			
			<p class="bottom-right" >
				<a class="footer_links" href="http://conference2012.ewb.ca/en/">Home</a> |
				<a class="footer_links" href="http://conference2012.ewb.ca/en/contact-us/about-ewb">About EWB</a> |					
				<a class="footer_links" href="http://conference2012.ewb.ca/en/contact-us/">Contact Us</a> 
				<!--<a class="footer_links" href="http://conference2012.ewb.ca/en/sitemap">Sitemap</a> -->
			</p>
	
		</div>	
			
	</div><!-- end #footer-wrapper -->
</div>	
	<!-- footer ends here -->

<!--
Exec time: 0.0197 
Page level: 1 
Rock on, good peoples.
-->
</body>
</html>
		
	
	{% else %}
		{{ block.super }}
	{% endifequal %}
{% endblock %}
