{#{% extends 'events/base.html' %}#}
{% extends 'conference/confsite.html' %}

{% load i18n %}
{% load uni_form_tags %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load group_tags %}
{% load topics_tags %}

{% block head_title %}National Conference 2012{% endblock %}

{% block body %}
<style>
	ul#registrationoptions li {
		padding-bottom: 20px;
		font-weight: bold;
		font-size: 16px;
	}
	#address_detail div, form label, form p {
		font-weight: normal;
		font-size: 12px;
	}
	
	</style> 
	<br/><br/>

<h2>National Conference 2012</h2>

		<br />
		<p style="font-weight: bold;">
			You are currently registered to attend the conference!<br/>
			From this page you may:
		</p>
		<br/>

		<ul id="registrationoptions">
		
		<li>
			<a href="http://conference2012.ewb.ca/reg/conference/schedule/">View or build your personal conference schedule</a>
		</li>
		
		<li>
			<a href="{% url conference_receipt %}" style="font-weight: bold;">print a receipt</a>
		</li>

		<li>
			{#<a href="{% url conference_cancel %}">cancel your registration</a> #}
<span style="text-decoration: line-through;">cancel your registration</span><br/>
<em>Registration changes and cancellations can not be made after January 3.</em>
		</li>
		
		{% comment %}
		{% if tshirtform %}
		<li>
			<a href="{% url conference_tshirt %}">add a conference t-shirt to your registration</a>
		</li>
		{% endif %}
		{% endcomment %}
		
		{% if skiform %}
		<li>
			<a href="{% url conference_ski %}">attend the optional Sunday ski trip</a>
		</li>
		{% endif %}
		
		<li>
			<a href="{% url conference_ad %}">add an African Delegate contribution</a> (${{ registration.africaFund|default:0 }} received)
		</li>
		
		{% comment %}
		<li>
			<a href="{% url conference_resume %}">upload or change your resume</a>
		</li>
		{% endcomment %}
		
		</ul>
		
		<br />
		<br />
		<p>Keep checking the conference website at <a href="http://conference2012.ewb.ca/">http://conference2012.ewb.ca</a> for up-to-date information regarding the conference!</p>


{% endblock %}
