{% extends 'topics/base.html' %}

{% load i18n %}
{% load avatar_tags %}
{% load uni_form_tags %}
{% load pagination_tags %}
{% load base_groups_tags %}
{% load group_tags %}
{% load events_tags %}
{% load whiteboard_tags %}
{% load time_filters %}
{% load dictionary_tags %}

{% block extra_head %}
    {{ block.super }}
    
    <link rel="alternate" type="application/rss+xml" title="myEWB Front Page" href="{% url topic_feed_all %}" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/toolbars.css" />    



	
{% endblock %}

{% block head_title %}{% trans "Search" %}{% endblock %}

{% block body %}

    <h1>Search</h1>


<div id="search-tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">

<ul class="tabs">
        <li id="li-group-postsearch" class="current"><a href="#post-search" id="show-postsearch">Search content</a></li>
        
        
{% if user.is_authenticated %}

        <li id="li-group-peoplesearch" class=""><a href="{% url profiles_index %}?search=" id="show-peoplesearch">Search people</a></li>

{% endif %}
    </ul>

    <div class="ui-tabs-panel ui-widget-content ui-corner-bottom">

        <div id="div-post-search" class="group-subsection" style="display: block;">
    
        <br/>    
    
        <form method="get" action=".">
            <table class="standard standard-right search-form shorter">
                {{ form.as_table }}
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="Search">
                    </td>
                </tr>
            </table>
        </form>
    
        </div>
    
    </div>
</div>


        <h1>Results</h1>
        
        
		{% if results %}
		    {% autopaginate results 10 %}
 
	        {% for result in results %}
	          	{# is there a better way? #}

				{# POSTS #}
	          	{% ifequal result.model_name "grouptopic" %}
				    {% with result.object as topic %}
				        {% include "topics/topic_item.html" %}
				    {% endwith %}
				{% endifequal %}

				{# REPLIES #}
	          	{% ifequal result.model_name "threadedcomment" %}
				{# this should really be template-ized and loaded. currently this search version is the most up-to-date, and is being copied to the other locations (events_for_day, and event_detail) #}
                <div class="minipost">
                <div class="minipostcontents">
                <div class="minipost-thumb">
                  <a class="avatar-40 delay-load" title="{{result.object.user.visible_name}}" href="{% url profile_detail result.object.user.username %}" data-background-src="{% avatar_url result.object.user 40 %}"></a>
                </div>
    
                <div class="border-bottom">
                  <div class="minipost-inside">
                    <div class="minipost-heading">

                      <div class="minipost-title">
                        <h3>
                        <a class="postheaderlink" href="{{ result.object.get_absolute_url }}">Reply: {{ result.object.content_object.title }}</a>
                        </h3>
                      </div>

                      <div class="minipost-authortime">
                        <a href="{% url profile_detail topic.creator %}">{{ result.object.user.visible_name }}</a>
                        {% mktime result.object.date_submitted %}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="minipost-text">
                  <a href="{{ result.object.get_absolute_url }}" class="quietlink">
                    {% dictionary_striptags result.object comment as comment %}
                    {{ comment|safe }}
                  </a>

                  {% ifnotequal result.object.content_object.group.slug "ewb" %}
                    <div style='clear: right; margin-top: 10px;'>
                      Posted to 
                      <em><a href="{{ result.object.content_object.group.get_absolute_url }}#group-posts">{{ result.object.content_object.group }}</a></em>
                    </div>
                  {% else %}
                    <div style='clear: right;'></div>
                  {% endifnotequal %}
                  
                </div>
                </div>
                </div>


				{% endifequal %}

				{# WHITEBOARDS #}
				{% ifequal result.model_name "whiteboard" %}
                <div class="minipost">
                  
                  <div class="minipostcontents">

                  <div class="border-bottom">
                  <div class="minipost-inside" style='margin-left: 0;'>
                  <div class="minipost-heading">
                  <div class="minipost-title">
                    <h3>
                    <a class="postheaderlink" href="{{ result.object.parent_group.get_absolute_url }}#group-whiteboard">Whiteboard for {{ result.object.parent_group }}</a>
                    </h3>
                  </div>

                  </div>
                  </div>
                  </div>

                  <div class="minipost-text">
                      <a href="{{ result.object.parent_group.get_absolute_url }}#group-whiteboard" class="quietlink">
				        {% get_membership result.object.parent_group request.user as member %}
                        {% show_whiteboard_force result.object result.object.parent_group member %}
                      </a>

                      {% ifnotequal topic.group.slug "ewb" %}
                        <div style='clear: right; margin-top: 10px;'>
                          Posted to 
                          <em><a href="{{ topic.group.get_absolute_url }}#group-posts">{{ topic.group }}</a></em>
                        </div>
                      {% else %}
                        <div style='clear: right;'></div>
                      {% endifnotequal %}
                      
                  </div>
                  </div>
                </div>

				{% endifequal %}		    
				        
				{# EVENTS #}
				{% ifequal result.model_name "event" %}
					
				{# this should really be template-ized and loaded. currently this search version is the most up-to-date, and is being copied to the other locations (events_for_day, and event_detail) #}
				
                <div class="minipost">
                  
                  <div class="minipostcontents">

                  <div class="border-bottom">
                  <div class="minipost-inside" style='margin-left: 0;'>
                  <div class="minipost-heading">
                  <div class="minipost-title">
                    <h3>
    					<a class="postheaderlink" href="{{ result.object.get_absolute_url }}">Event: {{ result.object.title }}</a>
                    </h3>
                  </div>

                  <div class="minipost-authortime">
					<span class="lighter">Starts: </span>{{result.object.start|date:"D, M j \a\t P"}} &nbsp;
					<span class="lighter">Ends: </span>{{result.object.end|date:"D, M j \a\t\ P"}}
                  </div>
                  
                  </div>
                  </div>
                  </div>

                  <div class="minipost-text">
                      <a href="{{ result.object.get_absolute_url }}" class="quietlink">
                        {% dictionary_striptags result.object description as intro %}
					    <p>{{ intro|safe }}</p>
                      </a>

                  </div>
                  </div>
                </div>
				{% endifequal %}
				
				{# CHAMP ACTIVITY #}
				{% ifequal result.model_name "activity" %}
                <div class="minipost">
                  
                  <div class="minipostcontents">

                  <div class="border-bottom">
                  <div class="minipost-inside" style='margin-left: 0;'>
                  <div class="minipost-heading">
                  <div class="minipost-title">
                    <h3>
    					<a class="postheaderlink" href="{{ result.object.get_absolute_url }}">CHAMP activity: {{ result.object.name }}</a>
                    </h3>
                  </div>

                  <div class="minipost-authortime">
					By <a href="{% url profile_detail result.object.creator.username %}">{{ result.object.creator.visible_name }}</a>
					on {{result.object.date|date}} - 
					{{ result.object.group.network.chapter_info.chapter_name }}
                  </div>
                  
                  </div>
                  </div>
                  </div>

                  <div class="minipost-text">
                      <a href="{{ result.object.get_absolute_url }}" class="quietlink">
                        {% dictionary_striptags result.object get_description as intro %}
					    <p>{{ intro|safe }}</p>
{#							<p>{{ result.object.get_description }}</p>#}
                      </a>

                  </div>
                  </div>
                </div>
				{% endifequal %}
				
				{# DICTIONARY TERMS #}
				{% ifequal result.model_name "term" %}
                <div class="minipost">
                  
                  <div class="minipostcontents">

                  <div class="border-bottom">
                  <div class="minipost-inside" style='margin-left: 0;'>
                  <div class="minipost-heading">
                  <div class="minipost-title">
                    <h3>
    					<a class="postheaderlink" href="{% url dictionary_view result.object.slug %}">Dictionary: {{ result.object.title }}</a>
                    </h3>
                  </div>
                  </div>
                  </div>
                  </div>

                  <div class="minipost-text">
                      <a href="{% url dictionary_view result.object.slug %}" class="quietlink">
                        {% dictionary_striptags result.object content as intro %}
					    <p>{{ intro|safe }}</p>
                      </a>

                  </div>
                  </div>
                </div>
				{% endifequal %}		    
				        
            {% endfor %}

	        {% paginate %}

        {% else %}
      	  <p>No results found.</p>
        {% endif %}

{% endblock %}

{% block extra_body %}

  <script type="text/javascript" src="{{STATIC_URL}}js/ui.datepicker.js"></script>

  <script type="text/javascript">
  $(document).ready(function(){
    var datepicker = $("input#id_start_date, input#id_end_date").datepicker({});
    
    
    // maintain search term state
    $('#id_q').change(function() {
        
        $('#show-peoplesearch').attr('href', '{% url profiles_index %}?search=' + $(this).val());
        
    });
    // initial load
    $('#show-peoplesearch').attr('href', '{% url profiles_index %}?search=' + $('#id_q').val());

    var is_checked = false;
    $('.search-form input:checkbox').each(function() {
        is_checked = is_checked | $(this).attr('checked');
    });
	if (!is_checked)
	    $('.search-form input:checkbox').attr('checked', 'checked');
    
  });
  </script>
  
    <script type="text/javascript" src="{{STATIC_URL}}js/tabselection.js"></script> 


{% endblock %}
  
