{% extends 'profiles/base.html' %}

{% load uni_form_tags %}

{% block body %}

<style>
    .addressform th {
        text-align: right;
        font-weight: normal;
        padding-left: 25px;
    }
    .addressform td {
        padding-left: 15px;
    }
</style>


<h2>
    Le recensement d'ISF
    &nbsp;
    <span style='font-size: 0.7em; font-weight: normal;'>(page  1/4)</span>
</h2>

<p><strong>
    D'abord, assurez-vous que vos coordonnées sont à jour.
</strong></p>

<p>
    Cette information ne quittera jamais ISF; vos coordonnées ne seront ni partagées ni vendues.<br/>
    Avoir des coordonnées à jour nous aidera à rester en contact.
</p>


<h3>Votre adresse de courriel</h3>
<div style='padding-left: 25px;'>

    <p>    
        Votre adresse de courriel est <strong>{{ primary_email.email }}</strong>.
    </p>
    
    {% if additional_emails %}
        Adresses de courriel supplémentaires :
        
        <div style='padding: 5px 0 10px 25px;'>
            {% for emailaddress in additional_emails %}
                {% if emailaddress.verified %}
                    {{ emailaddress.email }}
                    
                    &nbsp;&nbsp;&nbsp;
                    <span style='font-size: 0.85em;'>
                    (
                    <a href="#" onclick="$('#email_primary_{{ emailaddress.id }}').submit(); return false;">en faire mon adresse principale</a>
                {% else %}
                    <em>{{ emailaddress.email }}</em>
                    
                    &nbsp;&nbsp;&nbsp;
                    <span style='font-size: 0.85em;'>
                    (non vérifié)
                    
                    (
                    <a href="#" onclick="$('#email_resend_{{ emailaddress.id }}').submit(); return false;">réenvoyer un courriel de vérification</a>
                {% endif %}
                - 
                <a href="#" onclick="$('#email_remove_{{ emailaddress.id }}').submit(); return false;">enlever</a>)
                </span>
                
                <form style="display: none;" id="email_primary_{{ emailaddress.id }}" method="post" action="">
                    <input type="hidden" name="email" value="{{ emailaddress.id }}"/>
                    <input type="hidden" name="action" value="email_primary"/>
                </form>
                <form style="display: none;" id="email_resend_{{ emailaddress.id }}" method="post" action="">
                    <input type="hidden" name="email" value="{{ emailaddress.id }}"/>
                    <input type="hidden" name="action" value="email_resend"/>
                </form>
                <form style="display: none;" id="email_remove_{{ emailaddress.id }}" method="post" action="">
                    <input type="hidden" name="email" value="{{ emailaddress.id }}"/>
                    <input type="hidden" name="action" value="email_remove"/>
                </form>
                <br/>
            {% endfor %}
        </div>
    {% endif %}
    
    <div style='padding-left: 25px;'>
        <a href="" id="link_add_email">ajouter une nouvelle adresse de courriel</a>
        <form method="post" action="" id="div_add_email" style="display: none;">
            {{ add_email_form.email }}
             <input type="hidden" name="action" value="email_new"/>
             <input type="submit" value="ajouter"/>
        </form>
    </div>
    <br/>
</div>
    

<h3>Votre adresse</h3>
<div style='padding-left: 25px;'>

    <table border="0">
        {% if profile_user.get_profile.addresses_primary %}
            <tr>
                <td style='vertical-align: top; padding-right: 25px;'><strong>principale</strong></td>
                <td style='vertical-align: top; padding-bottom: 10px;'>
                    <strong>{{ profile_user.get_profile.addresses_primary.label }}</strong>
                    &nbsp;&nbsp;&nbsp;
                    <span style='font-size: 0.85em;'>
                        (<a href="#" onclick="$('#address_remove_{{ profile_user.get_profile.addresses_primary.id }}').submit(); return false;">enlever</a>)
                    </span>
                    <br/>
                    
                    {{ profile_user.get_profile.addresses_primary.street }}<br/>
                    {{ profile_user.get_profile.addresses_primary.city }},
                    {{ profile_user.get_profile.addresses_primary.province }}
                    <form style="display: none;" id="address_remove_{{ profile_user.get_profile.addresses_primary.id }}" method="post" action="">
                        <input type="hidden" name="address" value="{{ profile_user.get_profile.addresses_primary.id }}"/>
                        <input type="hidden" name="action" value="address_remove"/>
                    </form>
                </td>
            </tr>
        {% endif %}
        
	    {% for address in profile_user.get_profile.addresses.all %}
	        {% ifnotequal address.id profile_user.get_profile.addresses_primary.id %}
	            <tr>
	                <td style='vertical-align: top; padding-right: 25px;'>
	                    &nbsp;
	                </td>
	                <td style='vertical-align: top; padding-bottom: 10px;'>
	                    <strong>{{ address.label }}</strong>
                        &nbsp;&nbsp;&nbsp;
                        <span style='font-size: 0.85em;'>
    	                    (<a href="#" onclick="$('#address_primary_{{ address.id }}').submit(); return false;">en faire mon adresse principale</a> - 
                            <a href="#" onclick="$('#address_remove_{{ address.id }}').submit(); return false;">enlever</a>)
                        </span>
	                    <br/>
	                    
	                    {{ address.street }}<br/>
                        {{ address.city }}, {{ address.province }}

                        <form style="display: none;" id="address_primary_{{ address.id }}" method="post" action="">
                            <input type="hidden" name="address" value="{{ address.id }}"/>
                            <input type="hidden" name="action" value="address_primary"/>
                        </form>
                        <form style="display: none;" id="address_remove_{{ address.id }}" method="post" action="">
                            <input type="hidden" name="address" value="{{ address.id }}"/>
                            <input type="hidden" name="action" value="address_remove"/>
                        </form>

	                </td>
	            </tr>
	        {% endifnotequal %}
	    {% endfor %}
	</table>
	
	<a href="" id="link_add_address">ajouter une nouvelle adresse</a>
	<div id="div_add_address" style="display: none;">
	    Ajouter une nouvelle adresse:
        <form method="post" action="">
	        <table class="addressform">
        	    {{ address_form }}
        	    <tr>
            	    <th>&nbsp;</th>
        	        <td>
                        <input type="hidden" name="action" value="address_new"/>
            	        <input type="submit" value="ajouter"/>
            	    </td>
        	    </tr>
	        </table>
    	</form>
	</div>

</div>    

<h3>Votre numéro de téléphone</h3>
<div style='padding-left: 25px;'>
    
    <table border="0">
        {% if profile_user.get_profile.phone_numbers_primary %}
            <tr>
                <td style='vertical-align: top; padding-right: 25px;'><strong>principal</strong></td>
                <td style='vertical-align: top; padding-bottom: 10px;'>
                    {{ profile_user.get_profile.phone_numbers_primary.number }}
                    &nbsp;&nbsp;&nbsp;
                    <span style='font-size: 0.85em;'>
                        (<a href="#" onclick="$('#phone_remove_{{ profile_user.get_profile.phone_numbers_primary.id }}').submit(); return false;">enlever</a>)
                    </span>
                    <form style="display: none;" id="phone_remove_{{ profile_user.get_profile.phone_numbers_primary.id }}" method="post" action="">
                        <input type="hidden" name="phone" value="{{ profile_user.get_profile.phone_numbers_primary.id }}"/>
                        <input type="hidden" name="action" value="phone_remove"/>
                    </form>
                </td>
            </tr>
        {% endif %}
        
	    {% for phone in profile_user.get_profile.phone_numbers.all %}
	        {% ifnotequal phone.id profile_user.get_profile.phone_numbers_primary.id %}
	            <tr>
	                <td style='vertical-align: top; padding-right: 25px;'>
	                    &nbsp;
	                </td>
	                <td style='vertical-align: top; padding-bottom: 10px;'>
	                    {{ phone.number }}
                        &nbsp;&nbsp;&nbsp;
                        <span style='font-size: 0.85em;'>
                            (<a href="#" onclick="$('#phone_primary_{{ phone.id }}').submit(); return false;">en faire mon numéro principal</a> - 
                            <a href="#" onclick="$('#phone_remove_{{ phone.id }}').submit(); return false;">enlever</a>)
                        </span>

                        <form style="display: none;" id="phone_primary_{{ phone.id }}" method="post" action="">
                            <input type="hidden" name="phone" value="{{ phone.id }}"/>
                            <input type="hidden" name="action" value="phone_primary"/>
                        </form>
                        <form style="display: none;" id="phone_remove_{{ phone.id }}" method="post" action="">
                            <input type="hidden" name="phone" value="{{ phone.id }}"/>
                            <input type="hidden" name="action" value="phone_remove"/>
                        </form>

	                </td>
	            </tr>
	        {% endifnotequal %}
	    {% endfor %}
	</table>
	
	<a href="" id="link_add_phone">ajouter un numéro de téléphone</a>
	<div id="div_add_phone" style="display: none;">
	    Ajouter un numéro de téléphone :
        <form method="post" action="">
	        <table class="addressform">
        	    {{ phone_form }}
        	    <tr>
            	    <th>&nbsp;</th>
        	        <td>
                        <input type="hidden" name="action" value="phone_new"/>
            	        <input type="submit" value="ajouter"/>
            	    </td>
        	    </tr>
	        </table>
    	</form>
	</div>
    
</div>    

<br/><br/>    
<form action="" method="post">
    What is your preferred language?<br/>
    <div style='padding-left: 25px;'>
    <input type="radio" name="language" value="en"/> English<br/>
    <input type="radio" name="language" value="fr"/> French<br/>
    </div>
    <br/>
    
    Would you like to receive weekly email updates from EWB?<br/>
    <div style='padding-left: 25px;'>
    <input type="checkbox" name="updates" value="yes"/> Yes!
    </div>
    <br/>
    
    <input type="submit" value="Page suivante"/>
</form>


<script type='text/javascript'>
    $().ready(function() {
        $('#link_add_email').click(function() {
            $('#div_add_email').slideDown();
            $(this).hide();
            return false;
        });
        $('#link_add_address').click(function() {
            $('#div_add_address').slideDown();
            $(this).hide();
            return false;
        });
        $('#link_add_phone').click(function() {
            $('#div_add_phone').slideDown();
            $(this).hide();
            return false;
        });
    });
</script>

{% endblock %}


{% block toolbar_right %}
	&nbsp;
{% endblock %}

    
