{% load i18n %}
{% load git_revision %}
{% load avatar_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% if SITE_NAME %}{{ SITE_NAME }} &raquo; {% endif %}{% block head_title %}{% endblock %}</title>

        <link rel="stylesheet" href="{{ STATIC_URL }}css/uni-form/uni-form.css" />    
        <link rel="stylesheet" href="{{ STATIC_URL }}css/uni-form/default.uni-form.css" />            

		<link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/facebox.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/accounts.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}templates/myhome/css/toolbars.css" />    
		<script src="{{ STATIC_URL }}/js/jquery.js" type="text/javascript"></script>
		<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}pinax/js/facebox.js"></script>
		
		{% block extra_head_base %}
		<link rel="SHORTCUT ICON" href="{{ STATIC_URL}}favicon.ico" />
		<link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/topics.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/social_project.css" />
		<script type="text/javascript" src="{{ STATIC_URL }}pinax/js/topics.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}base.js"></script>
		{% block extra_head %}{% endblock %}
		<link rel="stylesheet" href="{{ STATIC_URL }}templates/myhome/css/myewb2.css?d=20100629" />

		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.scrollTo-min.js"></script>		
		
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" />


		<link rel="stylesheet" href="{{ STATIC_URL }}css/myewb2-posts.css?d=20100629" /> 
		<link rel="stylesheet" href="{{ STATIC_URL }}css/segmented_control.css" />
		
		
		<script type="text/javascript">
		
//  External links in posts, etc., should open in a new window    
$(document).ready(function(){
	$(".textbody a[ href^='http']").attr('target','_blank');
	
	$(".openlinks a").attr('target','_blank');
});
		
		
        $(document).ready(function() {
        {% block frontpagerightJS %}

          	  
        {% endblock frontpagerightJS %}
        });
        
	$(document).ready(function() {
        if (jQuery.browser.msie) {
           if(parseInt(jQuery.browser.version) == 6) {
                $('#ie6alert').html('<div>        <span>Uhoh.</span> Looks like you\'re using Internet Explorer 6. It\'s pretty sketchy with myEWB, so we\'d suggest upgrading to <a href="http://getfirefox.com" target="_blank" title="It\'s great.">Firefox</a>, <a href="http://www.google.com/chrome" target="_blank" title="It\'s great too.">Chrome</a>, or <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx" target="_blank" title="...but preferably, one of the first two. :)">Internet Explorer 8</a>. Sorry!    </div>');
                $('#ie6alert').show();
           }
        }
    });
        
        
        
        
		</script>
		{% endblock %}
		
		
		<script type="text/javascript" src="{{ STATIC_URL }}tiny_mce/jquery.tinymce.js"></script> 
		{# didn't seem to work well with browser caching when added down the page #}

		<script type="text/javascript" src="{{ STATIC_URL }}tiny_mce/tiny_mce.js"></script> 
		{# doubledeclaration re: http://tinymce.moxiecode.com/punbb/viewtopic.php?id=21343 #}
		{# TODO: this should be specifically loaded only when needed #}
    </head>

    <body id="bodybackground" class="{% block body_class %}{% endblock %}" style='background: #ffffff; padding: 0px; margin: 0;'>

    {% include "themeswitch/themeswitch.html" %}
    
    {% comment %}
    <div style='float: left; height: 35px; width: 300px; background: #ff7200; font-size: 30px; color: white; font-family: sans; font-weight: bold; padding: 5px 0; text-align: center; border-right: 1px solid #000000; border-bottom: 1px solid #000000;'>
    	myEWB
   	</div>
   	{% endcomment %}
    <div style='float: left; height: 55px; width: 300px; text-align: center;'>
		<a href="{% url home %}"><img src="{{ STATIC_URL }}images/logos/title-graphic.png" alt="Engineers Without Borders" border="0" /></a>
   	</div>
   	
   	<div style='margin-left: 320px; {#margin-right: 260px;#} height: 55px; padding: 8px 0 0 0; font-size: 10px; text-align: center;'>
   		QUICK LINKS: 
   		<a href="#">EWB Canada</a> |
   		<a href="#">Chapter Resrouces</a> | 
   		<a href="#">Overseas Library</a> |
   		<a href="#">Orange Wiki</a> |
   		<a href="#">Board of Directors</a> |
   		<a href="#">Blogs</a> |
   		<a href="#">LINK</a> |
   		<a href="#">LINK</a>
   		
   		<br/>
   	
		<form method="get" action="{% url search %}" id="mainsearchform">
			<input type="text" style="width: 80%; color: #a0a0a0; margin-top: 12px;" id="global_search_box" name="q"/>
			{# <input type="submit" value="search" class="bkgd-light" /> #}
		</form>

   	</div>
   	<br style="clear: both;"/>
   	
   	<div style='float: left; width: 300px; {#border-right: 1px solid #d0d0d0; #}padding-top: 5px;'>
    	{% if not user.is_authenticated %}
	   		<div style="padding: 20px; border: 1px solid #ffb90f">
				{% if login_form %}
		            <form class="toolbarlogin" method="POST" action="{% url acct_login %}">
		                {% for field in login_form %}
		                    <div style="padding-bottom: 7px;">
		                        {{ field.label_tag }}<br/>
		                        {{ field }}
		                        <br/>
		                    </div>
		                {% endfor %}
		                <div style="text-align: center;">
		                    <input type="submit" value="{% trans "sign in" %} &raquo;" /><br/>
		                    <a href="{% url acct_passwd_reset %}">{% trans "Forgot password?" %}</a><br/>
						    <a href="{% url acct_signup %}">{% trans "Sign up" %}</a>
		                </div>
		            </form>
				{% else %}
			        <a href="{% url acct_login %}?url={{request.path}}" style='margin-right: 15px; color: #ffffff; text-decoration: none;'>{% trans "Login" %}</a>
				    <a href="{% url acct_signup %}" style='margin-right: 15px; color: #ffffff; text-decoration: none;'><strong>{% trans "Sign up" %}</strong></a>
				{% endif %}
			</div>
		{% else %}
	   		<div style="padding: 20px; border: 1px solid #ffb90f; border-left: 0; border-bottom: 0; -moz-border-radius-topright: 0.5em; -webkit-border-top-right-radius: 0.5em; background: #f0f0f0;">
		        <div style='height: 95px; width: 95px; float: left;'>
		            {% avatar user 95 %}
		        </div>
	        
		        <div style='margin-left: 110px; padding-top: 10px;'>
			        <a href="{% url profile_detail user %}" style='text-decoration: none; font-weight: bold;'>
			            {{ user.visible_name }}
			        </a>
	
			        <div style='height: 5px;'>&nbsp;</div>
			        <a href="{% url profile_detail user %}" style='text-decoration: none; font-size: 12px;'>
			            Edit My Profile
			        </a><br/>
			        <a href="{% url acct_logout %}" style='text-decoration: none; font-size: 12px;'>
			            Sign Out
			        </a><br/>
		        </div>
		        <br style='clear: left;'/>
			</div>
			
			<div style="background: #f0f0f0; border-right: 1px solid #ffb90f;">
				<span style="padding-left: 10px; font-weight: bold; font-size: 14px;">Go to my...</span>
				<a href="{% url home %}" style="display: block; font-size: 14px; background: #ffb90f; color: #000000; padding: 10px; border-bottom: 1px solid #ff7200;">
					Home &raquo;
				</a>
				<a style="display: block; font-size: 14px; background: #ffb90f; color: #000000; padding: 10px; border-bottom: 1px solid #ff7200;"
		        {% if user.get_profile.get_chapter %}
		        	href="{% url network_detail user.get_profile.get_chapter.slug %}"
		        {% else %}
					href="{% url networks_index %}"
		        {% endif %}
		        ">
					Chapter &raquo;
				</a>
				<a href="{% url communities_index %}" style="display: block; font-size: 14px; background: #ffb90f; color: #000000; padding: 10px; border-bottom: 1px solid #ff7200;">
					Teams &raquo;
				</a>
				<a href="{% url topic_list %}" style="display: block; font-size: 14px; background: #ffb90f; color: #000000; padding: 10px; border-bottom: 1px solid #ff7200;">
					Discussions &raquo;
				</a>
				<a href="{% url events_all %}" style="display: block; font-size: 14px; background: #ffb90f; color: #000000; padding: 10px; border-bottom: 1px solid #ff7200;">
					Events &raquo;
				</a>
				<div style="height: 1px; background: #ffb90f; border-bottom: 1px solid #ff7200; {#border-top: 1px solid #ff7200;#}">&nbsp;</div>
				<a href="#" style="display: block; font-size: 14px; background: #ffb90f; color: #000000; padding: 10px; border-bottom: 1px solid #ff7200; {#border-top: 1px solid #ff7200;#}" id="ataglance">
					EWB at a glance &raquo;
				</a>
				<a href="{% url applications %}" style="display: block; font-size: 14px; background: #ffb90f; color: #000000; padding: 10px; border-bottom: 1px solid #ff7200;">
					Get Involved &raquo;
				</a>
				
			</div>
			
			<div style="padding-left: 10px; padding-top: 20px; border-right: 1px solid #ffb90f; border-bottom: 1px solid #ffb90f; background: #f0f0f0; -moz-border-radius-bottomright: 0.5em; -webkit-border-bottom-right-radius: 0.5em;">
				<span style="font-weight: bold; font-size: 14px;">Recent activity</span>
				<br/><br/>
				<div style="padding-bottom: 10px;">
			        <div style='height: 25px; width: 35px; float: left;'>
			            {% avatar user 25 %}
			        </div>
			        FRIEND started a post, <a href="#">Fair trade on campus</a>
				</div>
				
				<div style="padding-bottom: 10px;">
			        <div style='height: 25px; width: 35px; float: left;'>
			            {% avatar user 25 %}
			        </div>
			        FRIEND started a post, <a href="#">Fair trade on campus</a>
				</div>
				
				<div style="padding-bottom: 10px;">
			        <div style='height: 25px; width: 35px; float: left;'>
			            {% avatar user 25 %}
			        </div>
			        FRIEND started a post, <a href="#">Fair trade on campus</a>
				</div>
				
				<div style="padding-bottom: 10px;">
			        <div style='height: 25px; width: 35px; float: left;'>
			            {% avatar user 25 %}
			        </div>
			        FRIEND started a post, <a href="#">Fair trade on campus</a>
				</div>
				
				<div style="padding-bottom: 10px;">
			        <div style='height: 25px; width: 35px; float: left;'>
			            {% avatar user 25 %}
			        </div>
			        FRIEND started a post, <a href="#">Fair trade on campus</a>
				</div>
				
				<div style="padding-bottom: 10px;">
			        <div style='height: 25px; width: 35px; float: left;'>
			            {% avatar user 25 %}
			        </div>
			        FRIEND started a post, <a href="#">Fair trade on campus</a>
				</div>
				
				<div style="padding-bottom: 10px;">
			        <div style='height: 25px; width: 35px; float: left;'>
			            {% avatar user 25 %}
			        </div>
			        FRIEND started a post, <a href="#">Fair trade on campus</a>
				</div>
				
				<div style="padding-bottom: 10px;">
			        <div style='height: 25px; width: 35px; float: left;'>
			            {% avatar user 25 %}
			        </div>
			        FRIEND started a post, <a href="#">Fair trade on campus</a>
				</div>
				
				<div style="padding-bottom: 10px;">
			        <div style='height: 25px; width: 35px; float: left;'>
			            {% avatar user 25 %}
			        </div>
			        FRIEND started a post, <a href="#">Fair trade on campus</a>
				</div>
				
			</div>
		{% endif %} 


		<br/><br/>
  		<div style="padding: 20px; border: 1px solid #ffb90f; border-left: 0; -moz-border-radius-topright: 0.5em; -moz-border-radius-bottomright: 0.5em; -webkit-border-top-right-radius: 0.5em; -webkit-border-bottom-right-radius: 0.5em; background: #f0f0f0;">
	        <strong>EWBers Currently Online</strong><br/>
	        {% include "whosonline.html" %}
	    </div>
	</div>
	
            {% for announcement in site_wide_announcements %}
                <div id="site_wide_announcements_{{announcement.pk}}" class="site_wide_announcements roundtop">
                    <div class="message-close"><a href="#" onclick="$.get('{% url announcement_hide announcement.pk %}'); $('#site_wide_announcements_{{announcement.pk}}').slideUp(); return false;">x</a></div>
                    <div class="message-header">{{announcement.title}}</div>
                    <div class="message">
                        {{ announcement.content|safe }}
                    </div>
                </div>
            {% endfor %}
            
            {% if messages %}
                <div id="messages" class="roundtop">
                    <div class="message-header">Messages</div>
                    <div class="message-close"><a href="#" onclick="$('#messages').slideUp(); return false;">x</a></div>
                    <div class="message">
                        {% for message in messages %}
                            <div class="message">{{ message|safe }}</div>
                            {% if not forloop.last %}<hr/>{% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            
            {% if user.is_authenticated and user.nomail %}
            	<div id="nomail" class="round" style="background: #ff0000; color: #ffffff; font-weight: bold;">
            		 
	            	{% if user.bouncing %}
	            		Your email address is bouncing	
	            	{% else %}
	            		myEWB emails to your account are disabled 
	            	{% endif %}
	            	- <a href="{% url acct_email %}">click here to resume email delivery</a>
	            </div>
            {% endif %}

		<div style="margin: 0px 0px 0px 315px; padding: -1em;">
	        	{% block subnav_base %}
	        	
	        	{% block subnav %}&nbsp;{% endblock %}
	        	
	        	{% endblock %}
	        </div>
	        
	{% block body_base %}
	{#<div style="margin: 5px 0px 20px 320px; padding: 10px; border: 1px solid #d0d0d0; border-right: 0; -moz-border-radius-topleft: 0.5em; -moz-border-radius-bottomleft: 0.5em; -webkit-border-top-left-radius: 0.5em; -webkit-border-bottom-left-radius: 0.5em;">#}
	{#<div style="margin: 5px 0px 20px 320px; padding: 10px;">#}
	<div style="margin: 0px 0px 20px 320px; padding: 0 10px 10px 10px;">
		<div style="float: right; width: 220px; padding-left: 20px;">
	        {% block toolbar_left %}
	        {% endblock %}
	        
	        {% block toolbar_right %}
	        {% endblock %}
	    </div>            

        <div id="maincolumn" style="overflow-x: hidden;">
			{% block body %}
			{% endblock %}
		</div>		

	</div>
	{% endblock %}
	
		<br style="clear: both;"/><br/>
        <div id="footer2" style='width: 80%; margin: 0 auto; font-size: 1em;'>
			{% block footer %}
			<ul class="legal" style='width: 100%; margin: 0; background: #ffffff; border: 0;'>
				<li><a href="{% url terms %}">Terms of Use</a></li>
				<li><a href="{% url privacy %}">Privacy Policy</a></li>
			    <li>&copy; 2005&ndash;{% now "y" %} <a href="http://www.ewb.ca/">{% trans "EWB-ISF Canada" %}</a></li>
				{% if user.is_staff %}<li><a href="/admin/">{% trans "Admin" %}</a></li>{% endif %}
				{% block locale_switcher %}
					<li>
				    <form action="{% if request.user.is_authenticated %}{% url acct_language_change %}{% else %}/i18n/setlang/{% endif %}" method="post" id="locale_switcher">
				        <select name="language" onchange="$('#locale_switcher').submit()">
				            {% for lang in LANGUAGES %}
				                <option value="{{ lang.0 }}"{% ifequal lang.0 LANGUAGE_CODE %} selected="selected"{% endifequal %}>{{ lang.1 }}</option>
				            {% endfor %}
				        </select>
				    </form>
					</li>
				{% endblock %}
				
				<li>timezone: 
					<form action="{% url timezone_switch %}" method="post" id="language-switcher">
						<select name="timezone" onchange="$('#language-switcher').submit()">
							<option value="auto">auto-detect {% if detected_timezone %}({{detected_timezone}}){% endif %}</option>
							{% for tz in timezones %}
								<option value="{{tz}}" {% ifequal tz current_timezone %}selected="selected"{% endifequal %}>{{ tz }}</option>
							{% endfor %}
						</select>
						<input type="hidden" name="redirect" value="{{ request.path }}"/>
					</form>
				</li>
			</ul>
			
			{#{% include "feedbackform.html" %}#}
			
			<script type="text/javascript">
			
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-907833-2']);
			  
			  {% if role_is_office %}
			    _gaq.push(['_setCustomVar', 1, 'Role', 'National Office', 1]);
			  {% else %}
			    {% if role_is_president %}
				  _gaq.push(['_setCustomVar', 1, 'Role', 'Chapter president', 1]);
			    {% else %}
			      {% if role_is_exec %}
				    _gaq.push(['_setCustomVar', 1, 'Role', 'Chapter exec', 1]);
			      {% else %}
			        {% if role_is_alumni %}
			  	      _gaq.push(['_setCustomVar', 1, 'Role', 'Alumni', 1]);
			        {% else %}
			          {% if role_chapter_member %}
			      	    _gaq.push(['_setCustomVar', 1, 'Role', 'Chapter member', 1]);
			          {% endif %}
			        {% endif %}  
			      {% endif %}  
			    {% endif %}
			  {% endif %}
			
			  {% if usage_profile %}
			    _gaq.push(['_setCustomVar', 2, 'Usage profile', '{{ usage_profile }}', 1]);
			  {% endif %} 
			
			  {% if user.is_authenticated %}
			    _gaq.push(['_setCustomVar', 3, 'Is Guest', 'No', 3]);
			  {% else %}
			    _gaq.push(['_setCustomVar', 3, 'Is Guest', 'Yes', 3]);
			  {% endif %}
			  
			  _gaq.push(['_trackPageview']);
			
			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
			
			</script>
			
			{% endblock %}
        </div>
        
        {% block extra_body_base %}
		    {#{% urchin %}    #}
		    
		    {# javascript keepalive for who's online counter #}
		    <script type="text/javascript">
		    function keepalive()
		    {
		        jQuery.get('{% url whosonline_refresh %}',
		                function(data)
		                {
		            		$('#box-online-contents').html(data);
		            		var new_inbox = $('#box-online-contents div#inbox_count_ajax').html()
//		               		$('#inbox_count').html(new_inbox);
		                });
		        setTimeout('keepalive()', 5 * 60 * 1000);
		    }
		                        
		    $(document).ready(function() {
		        setTimeout('keepalive()', 5 * 60 * 1000);
		    });
		    
		    </script>
		    
		    {% block extra_body %}{% endblock %}
		    
		<div id="ie6alert" style="display:none;">
		    
		</div>
		
<div style="display: none;">
<div id="div_aaglance">
	<h1>We haven't built this yet...</h1>
	
	<p>
		But we hear you: you want a way to know what's going on across the organization,
		dashboard-style.  What's the latest news in Canada?  In Africa?  How are we
		progressing toward our goals?  How do you and your chapter fit into the larger picture?
	</p>
	
	<p>
		This page will be different from your home-page.  It won't change as often,
		it's less about people and discussions.  But it'll be more in-depth than 
		the main website; it's not the brochure "what is EWB", 
		it's a snapshot of the organization meant for EWBers.
	</p>
	
</div>
</div>
        {% endblock %}

        <script type="text/javascript">
    	$().ready(function() {
        	var is_searching = false;
        	var is_focused = false;
        	
        	$('#global_search_box').focus(function() {
        		if ($(this).val() == "search")
        		{
        			$(this).css("color", "#000000");
        			$(this).val("")
        		}
        		is_focused = true;
        	});
        	$('#global_search_box').blur(function() {
        		if ($(this).val() == "")
        		{
        			$(this).css("color", "#a0a0a0");
        			$(this).val("search")
        		}
    			is_focused = false;
        	});

        	$('#global_search_box').blur();


    		$('#ataglance').colorbox({width: '50%',
				height: '50%',
				opacity: '0.5',
				inline: true,
				href: '#div_aaglance'
			   });
		});
        </script>
        
    </body>
</html>
