{% extends 'conference/schedule2-fr/base.html' %}

{% load i18n %}
{% load uni_form_tags %}

{% block body2 %}
<style>
	ul#registrationoptions li {
		padding-bottom: 20px;
		font-weight: bold;
		font-size: 16px;
	}
	#address_detail div, form label, form p {
		font-weight: normal;
		font-size: 12px;
	}
	input.checkboxinput {
		float: left;
		position: relative;
		left: 35%;
	}
	
	</style> 
	<br/><br/>

	<p>
Le générateur d’horaires Choisissez-votre-propre-aventure au Congrès vous permet d’être stratégique lors de votre choix de sessions auxquelles vous participerez lors du congrès. En déterminant en avance les sessions auxquelles vous assisterez, vous vous assurez de retirer le maximum de votre expérience au congrès et d’arriver à ce dernier mieux préparé en étant allé chercher les ressources nécessaires pour ce faire. De plus, en vous inscrivant à l’avance aux sessions, vous permettez à l’équipe du congrès de s’assurer d’une meilleure répartition des salles basée sur l’intérêt des participants pour les différentes sessions.
	</p>

	<p><strong>Comment fonctionne le générateur d’horaires?</strong></p>

	<p>
Pour commencer, vous devrez d’abord fournir des informations supplémentaires sur votre expérience au sein d’ISF. En se basant sur ces dernières, ainsi que sur les informations fournies lors de votre inscription au congrès, le générateur d’horaires vous suggèrera d’assister, pour chaque bloc d’activités à l’horaire, à certaines sessions qui sont les plus appropriées quant à votre rôle et niveau d’expérience dans l’organisation. De plus, le générateur d’horaires émettra aussi des suggestions en se basant sur la chronologie des sessions choisies au congrès afin d’assurer une continuité dans vos apprentissages, et ainsi de vous permettre de bâtir étape par étape sur ces apprentissages tout au long du congrès. Finalement, vous pourrez choisir les sessions auxquelles vous souhaitez participer en lisant les descriptions fournies et sélectionner celles qui sont les plus appropriées à votre aventure personnelle.
	</p>

	<p>
Une fois votre choix terminé, le générateur d’horaires vous fournira une version imprimable de votre horaire personnalisé du congrès, ainsi qu’une liste de ressources utiles à votre préparation pour les sessions choisies. Également, lors de votre prochaine visite sur ce site, vous serez automatiquement redirigé vers votre horaire et préparation personnels. 
	</p>
	<hr/>

	<p>
Avant de commencer, jetez un coup d’œil aux différents portfolios d’ISF : http://conference2012.ewb.ca/en/videos.htmlAvant de commencer, jetez un coup d’oeil aux différents portfolios d’ISF : <a href="http://conference2012.ewb.ca/en/videos.html" target="_new">http://conference2012.ewb.ca/en/videos.html</a>
	</p>

	<form method="post" action="" class="uniForm">
		<fieldset class="inlineLabels">
			{{ form|as_uni_form }}
			
            <div class="form_block ctrlHolder">
                <input type="submit" value="Continuer" />
                <label>&nbsp;</label>
            </div>
			
		</fieldset>
	</form>

{% endblock %}
