{% extends 'rolodex/base.html' %}

{% load avatar_tags %}
{% load pagination_tags %}

{% block head_title %}Browse{% endblock %}

{% block body %}
    <style>
        a.c {
            color: #444;
            text-decoration: none;
        }
    </style>

    <h2>Browse: {{ chapter.name }} Chapter</h2>

    Only show people:<br/>
    <a href="?filters=role" {% ifequal filters 'role' %}class='c'{% endifequal %}>with a role</a> |
    <a href="?filters=past" {% ifequal filters 'past' %}class='c'{% endifequal %}>with a past role</a> |
    <a href="?filters=flag" {% ifequal filters 'flag' %}class='c'{% endifequal %}>who are flagged</a>
    {% ifnotequal filters '' %}
    | <a href="?filters=">(show all)</a>
    {% endifnotequal %}
    
    <br/><br/>

    {% autopaginate results 20 %}

    {% for profile in results %}
        <div class="profile clearfix" style="height: 35px; clear: left;">
        	<div style="float: left;">{% avatar profile.user 30 %}</div>
        	<div style="padding: 5px; padding-top: 0px; margin-left: 40px;">
                <a href="{% url rolodex_view profile.id %}">
                    {{ profile.first_name }} {{ profile.last_name }}
                </a>
                <br/>
                
                <em style='font-size: 10px;'>
                    {% for b in profile.get_badges %}
                        {{ b.badge.name }}{% if b.year %} {{ b.year }}{% endif %},
                    {% endfor %}
                    {% for f in profile.get_flags %}
                        {{ f.name }}, 
                    {% endfor %}
                </em>

            </div>
    	</div>

    {% empty %}
        Sorry, no results
    {% endfor %}

    <br/>
    {% paginate %}
    

    <br style='clear: both;'/><br/>

{% endblock %}
