{% extends 'rolodex/base.html' %}

{% load avatar_tags %}
{% load pagination_tags %}

{% block head_title %}Browse{% endblock %}

{% block body %}
    <h2>Browse: {{ badge.name }} {% if current_year %}({{ current_year }}){% endif %}</h2>
    
    Filter by year:
    <form method="get" action="">
        <select name="year">
            <option value="">-- show all years --</option>
            {% for year in years %}
                <option value="{{ year.year }}" {% ifequal current_year year.year %}selected="selected"{% endifequal %}>
                    {{ year.year }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="filter"/>
    </form>
    
    <br/><br/>

    {% autopaginate results %}

    {% for result in results %}
        <div class="profile clearfix" style="height: 35px; clear: left;">
        	<div style="float: left;">{% avatar result.profile.user 30 %}</div>
        	<div style="padding: 5px; padding-top: 0px; margin-left: 40px;">
                <a href="{% url rolodex_view result.profile.id %}">{{ result.profile.first_name }} {{ result.profile.last_name }}</a><br/>
                <em style='font-size: 10px;'>added {{ result.added_date|date:'F j, Y' }} by {{ result.added_by.visible_name }}</em>
            </div>
    	</div>

    {% empty %}
        Sorry, no results
    {% endfor %}

    {% paginate %}
    

    <br style='clear: both;'/><br/>

{% endblock %}
