<div style='padding: 25px;'>
    {% if flag %}
        <h2>
            <strong>{{ flag.flag.name }}</strong><br/>
            {{ flag.flagged_date|date:'M j, Y' }} ({{ flag.flagged_by.visible_name }})
        </h2>
        
        <p>
            [<a href="{% url rolodex_flag_edit flag.id %}" onclick="$('#edit_flag_{{ flag.id }}').click(); return false;">Edit this flag</a>]
            [<a href="{% url rolodex_unflag flag.id %}">Remove flag</a>]
        </p>

        {{ flag.note|linebreaks }}
        
        <hr/>
        
        <p>
            <a href="{% url rolodex_browse_flags flag.flag.id %}">
                See others with the same flag
            </a>
        </p>
        
     {% else %}
        Not Found.
    {% endif %}
</div>
