{% extends 'rolodex/base.html' %}

{% load avatar_tags %}


{% block head_title %}Home{% endblock %}

{% block body %}
    <div style='float: right; width: 250px; border: 1px solid; padding: 0 10px 10px; margin-top: 1.5em;'>
        <h2>Recently Viewed:</h2>

        {% for profile in recent %}
	        <div class="profile clearfix" style="height: 20px; clear: left;">
            	<div style="float: left;">{% avatar profile.user 20 %}</div>
            	<div style="padding: 5px; padding-top: 0; margin-top: 5px; margin-left: 25px;">
	                <a href="{% url rolodex_view profile.id %}">{{ profile.first_name }} {{ profile.last_name }}</a>
	            </div>
        	</div>
        {% endfor %}
        
        <br/><br/>
        <hr/>
        
        <h2>Recently Updated:</h2>
        {% for profile in updated %}
	        <div class="profile clearfix" style="height: 20px; clear: left;">
            	<div style="float: left;">{% avatar profile.user 20 %}</div>
            	<div style="padding: 5px; padding-top: 0; margin-top: 5px; margin-left: 25px;">
	                <a href="{% url rolodex_view profile.id %}">{{ profile.first_name }} {{ profile.last_name }}</a>
	            </div>
        	</div>
        {% endfor %}
        
    </div>
    
    <p>
        Welcome to EWB's member database!
    </p>

    <h2>Search for an individual:</h2>
    <form method="post" action="{% url rolodex_search %}">
        <input type="text" name="search"/>
        <input type="submit" value="Go"/>
    </form>
    <br/>
    
    <h2>Browse a list:</h2>
    <table border="0">
    <tr><td style='vertical-align: top;'>
        <strong>Roles</strong><br/>
        {% for badge in badges %}
            <a href="{% url rolodex_browse_badges badge.id %}">{{ badge }}</a><br/>
        {% endfor %}
    </td><td style='padding-left: 25px; vertical-align: top;'>
        <strong>Flags</strong><br/>
        {% for flag in flags %}
            <a href="{% url rolodex_browse_flags flag.id %}">{{ flag }}</a><br/>
        {% endfor %}
    </td></tr>
    
    <tr><td colspan="2" style="padding-left: 45px;">
        <br/>
        <a href="{% url rolodex_import %}">Bulk-update a list</a>
    </td></tr>
    </table>

    <br/><br/>

    {% comment %}
    <h2>Or, run a query:</h2>
    (coming soon)
    {% endcomment %}
    

    <br style='clear: both;'/>
    <br/>
{% endblock %}
