{% extends 'rolodex/base.html' %}

{% load avatar_tags %}
{% load pagination_tags %}

{% block head_title %}Import{% endblock %}

{% block body %}
    <h2>Import - Complete</h2>
    
    <p>
        <strong>Skipped</strong> (address not found)
        {{ skipped.count }} emails
        
        <br/><br/>
        {% for email in skipped %}
            {{ email }} <br/>
        {% endfor %}
    </p>
    
    <hr/>
    
    <p>
        <strong>Updated successfully</strong>
        {{ updated.count }} emails
        
        <br/><br/>
        {% for email in updated %}
            {{ email }} <br/>
        {% endfor %}
    </p>
    
{% endblock %}

