{% extends 'rolodex/base.html' %}

{% load avatar_tags %}

{% block head_title %}{{ profile.first_name }} {{ profile.last_name }}{% endblock %}

{% block body %}

    <style>
        .aligntable td {
            padding: 5px;
            vertical-align: top;
        }
        td.left {
            text-align: right;
        }
        td.right {
        }
        
    </style>

    <h1 style='text-align: center;'>{{ profile.first_name }} {{ profile.last_name }}</h1>

    <div style='width: 200px; float: left; border-right: 1px solid #db7403; padding: 0 15px; text-align: right; line-height: 1.5em;'>
        <h2>Roles</h2>
        
        {% for badge in profile.get_badges %}
            <a href="{% url rolodex_badge_ajax badge.id %}" class="colorbox description">
                {{ badge.badge }}
                {% if badge.year %}({{ badge.year }}){% endif %}
                <a href="{% url rolodex_badge_edit badge.id %}" class="colorbox" style="display: none;" id="edit_badge_{{ badge.id }}">edit</a>
            </a>
            <br/>
        {% endfor %}
        
        <br/>
        <a href="{% url rolodex_badge profile.id %}" class="colorbox">add a role</a>
    </div>

    <div style='width: 200px; float: right; border-left: 1px solid #db7403; padding: 0 15px; line-height: 1.5em;'>
        <h2>Flags</h2>
        
        {% for flag in profile.get_flags %}
            <a href="{% url rolodex_flag_ajax flag.id %}" class="colorbox description">
                <img src="{{ STATIC_URL }}images/icons-flags/{{ flag.flag.colour}}.png" style="width: 20px; height: 20px; margin-top: 5px; margin-bottom: -5px;"/>
                &nbsp;
                {{ flag.flag }}
            </a>
            <a href="{% url rolodex_flag_edit flag.id %}" class="colorbox" style="display: none;" id="edit_flag_{{ flag.id }}">edit</a>
            <br/>
        {% endfor %}
        
        <br/>
        <a href="{% url rolodex_flag profile.id %}" class="colorbox">add a flag</a>
    </div>

    <div style='text-align: center; width: 500px; margin: 0 auto;'>
    	<a href="{% avatar_url profile.user 500 %}" id="avatar">
        	{% avatar profile.user 160 %}
        </a>

        <br/><br/>
        
        <strong>{{ profile.primary_email }}</strong><br/>
    </div>
    
    <br style='clear: both;'/><br/>
    
    {% block rolodex_view %}

    <div style='border-right: 3px solid #db7403; width: 425px; float: left; padding: 0px 10px;'>
        <h2>Contact details</h2>

        <form method="get" action="{% url rolodex_edit profile.id %}">
            <input type="submit" value="Edit this record" style='margin: -5px 0 10px 10px;'/>
        </form>
        
        <table border="0" class="aligntable">
        <tr>
            <td class="left" style='width: 125px;'>
                Position<br/>Chapter
            </td>
            <td clas="right">
                {% if profile.role %}{{ profile.role }},{% endif %}<br/>
                {% if profile.chapter %}{{ profile.chapter }}{% endif %}
            </td>
        </tr>
        
        {% if profile.city %}
            <tr>
                <td class="left">
                    City
                </td>
                <td clas="right">
                    {{ profile.city }}
                </td>
            </tr>
        {% endif %}

        <tr>
            <td class="left">
                Account created<br/>
                Last sign-in<br/>
                Membership expiry
            </td>
            <td clas="right">
                {{ profile.user.date_joined|date:"F j, Y" }}<br/>
                {{ profile.user.last_login|date:"F j, Y" }}<br/>
                {% if profile.profile.membership_expiry %}
                    {{ profile.profile.membership_expiry|date:"F j, Y" }}
                {% endif %}
            </td>
        </tr>
        
        <tr>

            <td class="left">
                Email addresses
            </td>
            <td clas="right">
                {% for e in profile.email_set.all %}
                    {% if e.primary %}
                        <strong>{{ e.email }}</strong>
                    {% else %}
                        {{ e.email }}
                    {% endif %}
                    <br/>
                {% endfor %}
            </td>
        </tr>
        
        {% if profile.phone_set.count %}
            <tr>
                <td class="left">
                    Phone Numbers
                </td>
                <td clas="right">
                    {% for e in profile.phone_set.all %}
                        {% if e.primary %}
                            <strong>{{ e.phone }}</strong>
                        {% else %}
                            {{ e.phone }}
                        {% endif %}
                        <br/>
                    {% endfor %}
                </td>
            </tr>
        {% endif %}

        {% if profile.address_set.count %}        
            <tr>
                <td class="left">
                    Mailing address
                </td>
                <td clas="right">
                    {{ profile.primary_address|linebreaksbr }}
                    {% ifnotequal profile.address_set.count 1 %}
                        <br/>
                        <a href="#">({{ profile.address_set.count }} more)</a>
                    {% endifnotequal %}
                </td>
            </tr>
        {% endif %}

        {% if profile.workfield %}            
            <tr>
                <td class="left">
                    Field
                </td>
                <td clas="right">
                    {{ profile.workfield }}
                </td>
                
            </tr>
        {% endif %}
        {% if profile.school %}            
            <tr>
                <td class="left">
                    School
                </td>
                <td clas="right">
                    {{ profile.school }}
                    {% if profile.graduation %}
                        <br/>
                        <em>expected graduation: {{ profile.graduation }}
                    {% endif %}
                </td>
                
            </tr>
        {% endif %}
        {% if profile.workplace %}            
            <tr>
                <td class="left">
                    Workplace
                </td>
                <td clas="right">
                    {{ profile.workplace }}
                </td>
                
            </tr>
        {% endif %}
        
        <tr>
            <td class="left">
                Last updated
            </td>
            <td clas="right">
                {{ profile.updated_by.visible_name }}<br/>
                {{ profile.updated|date:"M j, Y g:i:s a" }}<br/>
                (<a href="#">see full history</a>)
            </td>
        </tr>
        </table>

        <h2>Application history</h2>
        <table border="0" class="aligntable">
            {% for a in profile.user.get_profile.application_set.all %}
			    {% ifnotequal a.completion 0 %}
                    <tr>
                        <td>
                            {{ a.updated|date:'M j, Y' }}
                        </td>
                        <td>
						    <a href="{% url evaluation_detail a.id %}">{{ a.session.name }}</a>
						    {% ifequal a.completion 100 %}
							    (submitted)
						    {% else %}
						        {% ifequal a.completion 0 %}
						            (viewed)
						        {% else %}
        							(draft)
        					    {% endifequal %}
						    {% endifequal %}
                        </td>
                    </tr>
                {% endifnotequal %}
            {% empty %}
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <em>No past APS/staff applications</em>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <h2>Mailing history</h2>
        <table border="0" class="aligntable">
        <tr>
            <td class="left">
                &nbsp;
            </td>
            <td clas="right">
                <a href="#">view Mailchimp account</a>
            </td>
        </tr>
        </table>

        <h2>Donation history</h2>
        <table border="0" class="aligntable">
        <tr>
            <td class="left">
                &nbsp;
            </td>
            <td clas="right">
                <a href="#">view Salesforce account</a>
            </td>
        </tr>
        </table>
        
        <h2>Custom Fields <span class='normal'>(<a href="{% url rolodex_custom_fields %}">set up</a>)</span></h2>
        <form method="get" action="{% url rolodex_edit_custom profile.id %}">
            <input type="submit" value="Edit fields" style='margin: -5px 0 10px 10px;'/>
        </form>
        
        <table border="0" class="aligntable">
        {% for field, value in custom.items %}
            <tr>
                <td class="left">
                    {{ field.name }}
                </td>
                <td clas="right">
                    {{ value.value }}
                </td>
            </tr>
        {% endfor %}
        </table>
        
    </div>

    <div style='width: 425px; float: right; padding: 0px 10px;'>
        <h2>Interaction history</h2>

        <form method="get" action="{% url rolodex_interaction_new profile.id %}">
            <input type="submit" value="Add an interaction" style='margin: -5px 0 10px 10px;'/>
        </form>
        
        <table border="0" width="100%">
        {% for activity in activities %}
            <tr>
                <td style='width: 85px;'>{{ activity.date|date:'M j, Y' }}</td>
                <td style='padding-bottom: 10px;'>
                    {% ifequal activity.activity_type 'interaction' %}
                        {% ifequal activity.interaction.interaction_type 'conversation' %}
                            <img src="{{ STATIC_URL}}images/icons2/onebit_10.png" style="height: 24px; width: 24px; float: left; margin: 5px 5px 0 0;"/>
                        {% endifequal %}
                        {% ifequal activity.interaction.interaction_type 'call' %}
                            <img src="{{ STATIC_URL}}images/icons2/phone.png" style="height: 24px; width: 24px; float: left; margin: 5px 5px 0 0;"/>
                        {% endifequal %}
                        {% ifequal activity.interaction.interaction_type 'note' %}
                            <img src="{{ STATIC_URL}}images/icons2/onebit_20.png" style="height: 24px; width: 24px; float: left; margin: 5px 5px 0 0;"/>
                        {% endifequal %}
                        <strong>{{ activity.interaction.interaction_type|capfirst }}</strong><br/>
                        <a href="{% url rolodex_note_ajax activity.id %}" class="colorbox description">
                            {{ activity.interaction.note_trunc }}
                        </a>
                    {% endifequal %}

                    {% ifequal activity.activity_type 'event' %}
                        <img src="{{ STATIC_URL}}images/icons2/onebit_11.png" style="height: 24px; width: 24px; float: left; margin: 5px 5px 0 0;"/>
                        <strong>Event</strong><br/>
                        <a href="#" class="description" onclick="return false;">
                            {{ activity.eventattendance.event.name }}
                        </a>
                    {% endifequal %}
                    
                    {% ifequal activity.activity_type 'flag' %}
                        Flagged:
                        <a href="{% url rolodex_flag_ajax activity.content_object.id %}" class="colorbox description">{{ activity.content_object.flag.name }}</a>
                    {% endifequal %}
                    
                    {% ifequal activity.activity_type 'unflag' %}
                        Unflagged:
                        <a href="{% url rolodex_flag_ajax activity.content_object.id %}" class="colorbox description">{{ activity.content_object.flag.name }}</a>
                    {% endifequal %}
                    
                    {% ifequal activity.activity_type 'badge' %}
                        Role added:
                        <a href="{% url rolodex_badge_ajax activity.content_object.id %}" class="colorbox description">{{ activity.content_object.badge.name }}</a>
                    {% endifequal %}
                    
                    {% ifequal activity.activity_type 'unbadge' %}
                        Role removed:
                        <a href="{% url rolodex_badge_ajax activity.content_object.id %}" class="colorbox description">{{ activity.content_object.badge.name }}</a>
                    {% endifequal %}
                    
                    {% ifequal activity.activity_type 'edit' %}
                        Edited by {{ activity.added_by.visible_name }}
                    {% endifequal %}
                    
                </td>
                <td style='padding-left: 10px;'>
                {% ifequal activity.activity_type 'interaction' %}
                    {% if activity.pinned %}
                        <a href="{% url rolodex_note_unpin activity.id %}" class="unpin">
                            <img src="{{ STATIC_URL }}images/icons2/pin.png" style='height: 16px; width: 16px;'/>
                        </a>
                    {% else %}
                        <a href="{% url rolodex_note_pin activity.id %}" class="pin">
                            <img src="{{ STATIC_URL }}images/icons2/unpin.png" style='height: 20px; width: 20px; margin-top: 5px;'/>
                        </a>
                    {% endif %}
                {% else %}
                    &nbsp;
                {% endifequal %}
                </td>
            </tr>

            {% comment %}                
            {% else %}
                {% if activity.content_object %}
                    <a href="#">{{ activity.activity_type }}</a>
                {% else %}
                    {{ activity.activity_type }}
                {% endif %}
            {% endifequal %}
            {% endcomment %}
        {% endfor %}
        </table>


    </div>
    
    <br style='clear: both;'/>

    {% endblock %}

{% endblock %}

{% block javascript %}
    $('.colorbox').colorbox({width: '50%',
                             height: '50%',
                             opacity: '0.7'});
{% endblock %}
