{% extends 'rolodex/base.html' %}

{% load avatar_tags %}
{% load pagination_tags %}

{% block head_title %}Search{% endblock %}

{% block body %}
    <h2>Search for an individual:</h2>
    <form method="post" value="{{ search }}" action="{% url rolodex_search %}">
        <input type="text" name="search"/>
        <input type="submit" value="Go"/>
    </form>
    <br/>
    
    <div style='float: right; width: 250px; border: 1px solid; padding: 10px;'>
        <strong>Couldn't find the person?</strong><br/><br/>
        
        <a href="{% url rolodex_new %}">Add them</a>
    </div>
    
    <p>
        <strong>Your search for <em>{{ search }}</em>:</strong>
    </p>
    
    {% autopaginate results %}

    {% for profile in results %}
        <div class="profile clearfix" style="height: 35px; clear: left;">
        	<div style="float: left;">{% avatar profile.user 30 %}</div>
        	<div style="padding: 5px; margin-top: 14px; margin-left: 40px;">
                <a href="{% url rolodex_view profile.id %}">{{ profile.first_name }} {{ profile.last_name }}</a> ({{ profile.primary_email }})
            </div>
    	</div>

    {% empty %}
        Sorry, no results
    {% endfor %}

    {% paginate %}
    
    <br style='clear: both;'/><br/>

{% endblock %}
