{% extends 'rolodex/base.html' %}

{% load avatar_tags %}
{% load pagination_tags %}

{% block head_title %}Search{% endblock %}

{% block body %}
    <h2>Search for an individual:</h2>
    <form method="get" value="{{ search }}" action="{% url rolodex_search %}">
        <input type="text" name="search"/>
        <input type="submit" value="Go"/>
    </form>
    <br/>
    
    <div style='float: right; width: 250px; border: 1px solid; padding: 10px;'>
        <strong>Couldn't find the person?</strong><br/><br/>
        
        <a href="{% url rolodex_new %}">Add them</a>
    </div>
    
    <p>
        <strong>Your search for <em>{{ search }}</em>:</strong>
    </p>
    
    {% autopaginate results 20 %}

    {% for profile in results %}
        <div class="profile clearfix" style="height: 35px; clear: left;">
        	<div style="float: left;">{% avatar profile.user 30 %}</div>
        	<div style="padding: 5px; padding-top: 0; margin-top: 8px; margin-left: 40px;">
                <a href="{% url rolodex_view profile.id %}">
                    {% if profile.first_name or profile.last_name %}
                        {{ profile.first_name }} {{ profile.last_name }}
                    {% else %}
                        {{ profile.primary_email }}
                    {% endif %}
                </a>
                {% if profile.chapter %}
                    <span style='font-size: 12px;'>
                        ({{ profile.chapter }})
                    </span>
                {% endif %}
                <br/>
                {% if profile.first_name or profile.last_name %}
                    <span style='font-size: 12px;'>
                        {{ profile.primary_email }}
                    </span>
                {% endif %}
            </div>
    	</div>

    {% empty %}
        Sorry, no results
    {% endfor %}

    <br/>
    {% paginate %}
    
    <br style='clear: both;'/><br/>

{% endblock %}
