{% extends 'rolodex/base.html' %}

{% block head_title %}Search{% endblock %}

{% block body %}
    <h2>Search for an individual:</h2>
    <form method="post" value="{{ search }}" action="{% url rolodex_search %}">
        <input type="text" name="search"/>
        <input type="submit" value="Go"/>
    </form>
    <br/>
    
    <div style='float: right; width: 250px; border: 1px solid; padding: 10px;'>
        <strong>Couldn't find the person?</strong><br/><br/>
        
        <a href="{% url rolodex_new %}">Add them</a>
    </div>
    
    <p>
        <strong>Your search for <em>{{ search }}</em>:</strong>
    </p>
    
    {% for profile in results %}
        <div style='padding-bottom: 10px;'>
            <a href="{% url rolodex_view profile.id %}">{{ profile.last_name }}, {{ profile.first_name }}</a>
            ({{ profile.primary_email }})
        </div>
        
    {% empty %}
        Sorry, no results
    {% endfor %}

    

    <br style='clear: both;'/><br/>

{% endblock %}
