<div id="delegateinfo">

<strong>Kumvana: African Delegates Leadership Development Program</strong>

<br/><br/>

<iframe src="https://docs.google.com/a/ewb.ca/file/d/0BzhCbiASmzyscU5hUE5Mb3BEbVk/preview" width="640" height="385"></iframe>
<br/>

       <p>The Kumvana Program of Engineers Without Borders Canada (EWB) builds young professionals’ capacities while building capacities of EWB’s African partners. Each year, EWB selects 10-15 dynamic African Leaders from its African partners to participate in this program based on their outstanding contributions to their home countries and over the course of this 4-month program, they receive coaching support in their home country and then travel to Canada in January for an intensive four-week experience that combines EWB National Conference, training programs, and two work placements with pertinent Canadian organizations. Kumvana delegates return home with new skills, ideas, contacts, motivation, and required means to create change within their own organizations and communities in Africa.</p>

       <p><em>Contributions to the African Delegate fund are eligible for a charitable tax receipt (over $20), and are non-refundable</em></p>


</div>

