<div id="delegateinfo">
       <h1>Kumvana: African Delegates Leadership Development Program</h1>


       <p>In 2011 EWB created an new opportunity for Africans to develop their leadership potential and to drive change in their countries. The Kumvana Program is a 7-month long program offered by Engineers Without Borders Canada (EWB) designed to create better collaboration between Canadians and Africans. African Leaders are selected from EWB’s overseas partners based on outstanding contributions in their home countries, strong communication skills and high potential as young leaders. The chosen delegates travel to Canada for an intensive six-week experience where they will participate in the EWB National Conference, complete two work placements and a specifically tailored leadership course; after which they return home with new ideas, motivations and means to create change within their own organizations and communities in Africa.</p>

<p>At this year's EWB National Conference we are offering 10 current and upcoming African leaders the chance to join us. These talented leaders will contribute their unique knowledge and skillsets to conference sessions as both facilitators and participants. This experience is unique for the leaders in question and will provide exceptional perspectives to the organization as a whole. Their presence at conference is an amazing opportunity for their own development and for the development of Canadian delegates.</p>   

       <p><em>Contributions to the African Delegate fund are eligable for a charitable tax receipt, and are non-refundable</em></p>

{% comment %}
       <div style="width: 350px; float: right; border: 1px solid #d0d0d0; padding: 5px; margin: 10px;">
               <img src="https://www.ewb.ca/mainsite/conference/africandelegates-2010.jpg"/><br/>
               <p style="font-size: 10px; padding-left: 10px;">
                       African Delegates, EWB National Conference 2010<br/>
                       (from left to right)<br/><br/>

                       Alfred Mungamelo, CLTS Facilitator<br/>
                       &nbsp;&nbsp;&nbsp;
                       Mazabuka, Zambia<br/>

                       MacMillan Chikhoza, Project Officer Assistant, InterAid<br/>
                       &nbsp;&nbsp;&nbsp;
                       Lilongwe, Malawi<br/>

                       Mama Victoria, Assistant Chief Technical Officer, AEA<br/>
                       &nbsp;&nbsp;&nbsp;
                       Bolgatanga, Ghana<br/>

                       Chrispin Dambula, District Water Officer, WASH Coordinator<br/>
                       &nbsp;&nbsp;&nbsp;
                       Mzimba, Malawi
               </p>
       </div>


       <!--<div style="width: 50%"> -->
       <div>
               <p><strong>They were inspired:</strong></p>

               <p>
               I was inspired by the participant to participant collaboration and the links with others outside the organization...
               It got me crazy thinking... I could see people ready to share with me. I've never seen such a thing. I really felt sky high
               - <em>Alfred Mungamelo</em>
               </p>

               <p>
               I've been inspired by the heart and the attitude that Canadians have to think about issues more broadly.  Canadians think about
               how to change the whole world, saying, "my country [Canada] is ok, but what about those others?"
                - <em>Chrispin Dambula</em>
               </p>

              <p><strong>They are agents for change:</strong></p>

               <p>
               My vision has been sparked by this conference and the interactions I've had ... I need to go back to Malawi and do something
               to help people have their eyes opened
                - <em>Chrispin Dambula</em>
               </p>

               <p>
               I will tell the people in Malawi with whom I work about the connections that Africans can make in between themselves.
               I want other Africans to take advantage of that communication and to build new relationships to communicate amongst themselves
                - <em>MacMillan Chikhoza</em>
               </p>

               <p>
               I have learnt about the need to have the passion to work and to think big. I will tell my farmers that they shouldn't give up, they should think bigger
                - <em>Mama Victoria</em>
               </p>

               <p><strong>They have messages for you:</strong></p>

               <p>
               Don't waste your time looking at problems of the past. We have to work under pressure. Don't waste time. We have short
               time frame and need to increase the impact because the need is very urgent.
                - <em>Alfred Mungamelo</em>
               </p>

               <p>
               Carry on the passion.  In 3-5 years time, an impact will be there that everyone will be able to attribute to EWB's work.
                - <em>Rollins Chitika</em>
               </p>
       </div>
{% endcomment %}

</div>

