{% extends 'events/base.html' %}

{% load i18n %}
{% load uni_form %}
{% load conference_tags %}

{% block head_title %}National Conference 2013{% endblock %}

{% block body %}
<br/><br/>

<h1>National Conference 2013</h1>

{% if codes %}
	<br/><p>
	{% for code in codes %}
		{{ code }} <br/>
	{% endfor %}
	</p>
	<br/>
{% endif %}

<p>
All conference codes are eight characters long:<br/>
<strong><em>&lt;type (one letter)&gt; &lt;number (3 digits)&gt; &lt;secret code (4 characters)&gt;</em></strong><br/>
Enter the type ("type of code") and number ("starting at") below; the secret code will be generated automatically.
</p>

<div style="width: 30%; float: left;">	
<h2>Code generation</h2>
<form class="uniForm" id="generate-codes" method="POST" action="">
	<fieldset class="inlineLabels"> 
		{{ form|as_uni_form }}
		<div class="form_block">
			<input type="hidden" name="action" value="generate"/>
			<input type="submit" value="{% trans "generate codes" %}"/>
		</div>
	</fieldset> 
</form>
</div>

<div style="width: 30%; float: right;">
<h2>Code lookup</h2>
<form class="uniForm" id="lookup-code" method="POST" action="{% url conference_code_lookup %}">
	<fieldset class="inlineLabels">
		<div class="ctrlHolder">
		<label for="id_code">Code:</label>
		<input type="text" value="" id="id_code" name="code" class="textinput textInput"/>
		</div>
		<div class="form_block">
			<input type="submit" value="{% trans "lookup code" %}"/>
		</div>
	</fieldset>
</form>
<div id="lookup-code-result"></div>
</div>
	

<div style="width: 30%; margin: 0 auto;">
<h2>Code cancellation</h2>
<form class="uniForm" id="void-codes" method="POST" action="">
	<fieldset class="inlineLabels"> 
		{{ form|as_uni_form }}
		<div class="form_block">
			<input type="hidden" name="action" value="void"/>
			<input type="submit" value="{% trans "void codes" %}"/>
		</div>
	</fieldset> 
</form>
</div>

<br style="clear: both;"/><br/>
<style>
	.confcodes, .confcodes th, .confcodes td {
		border: 1px solid;
		text-align: center;
	}

    #ldd_spots td, #ldd_spots th {
        text-align: center;
        padding: 3px 8px;
    }

    #ldd_spots input {
        text-align: center;
    }
</style>
<table style="width: 100%;" class="confcodes">
	<tr>
		<th>Code Type</th>
		{% for name, desc in room_choices %}
			<th>{{ desc }}</th>
		{% endfor %}
	</tr>
	
	{% for codetype, codename in conf_codes %}
		<tr>
			<td><strong>{{ codetype }}</strong></td>
			{% for roomname, roomdesc in room_choices %}
				<td>{% lookup_cost codename roomname %}</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>

<h2>Leadership Development Day spots</h2>

<form method="POST" action="{% url conference_ldd_spots %}">
    <table id="ldd_spots">
        <tr>
            <th>Chapter</th>
            <th>Spots used</th>
            <th>Spots allowed</th>
        </tr>

        {% for chapter in chapters %}
            <tr style='background: {% cycle '#e0e0e0;' '#ffffff;' %}'>
                <td>{{ chapter.chapter_name }}</td>
                <td>{{ chapter.ldd }}</td>
                <td>
                    {% for l in ldd %}
                        {% ifequal l.chapter chapter.network %}
                            <input type="text" style="width: 25px;" name="ldd_{{ chapter.network.id }}" value="{{ l.spots }}"/>
                        {% endifequal %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}

        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><input type="submit" name="save"/></td>
    </table>
</form>

<script type="text/javascript">
	$().ready(function() {
		$('#lookup-code').submit(function() {
			$.post($(this).attr('action'),
					$(this).serialize(),
					function(data) {
						$('#lookup-code-result').html(data);
	   		        });
			return false;
		});
	});
</script>

{% endblock %}
