
<p>
<strong>Leadership Day<br/>
Thursday, January 19, 2014</strong>
</p>

<p>Please submit your application in response to the following:</p>

<p><strong>Express your enthusiasm for leadership.</strong></p>

<p>Applications in response to the prompt are encouraged to come in any form that best allows you to express your enthusiasm. Want to write us a letter? Want to send us a video? Want to draw us a picture? Do it. We want to see the best of YOU. </p>

<p>Any expression is welcome, so choose the medium that you are most comfortable expressing yourself through. </p>

<p>
Please cap any writing at 1,000 words and videos at 5 minutes.<br/>
All art should be submitted as a .jpeg<br/>
All writing should be sent as a .pdf<br/>
All video should be sent as a youtube link. <br/>
Contact Mica if you’re expression requires a different kind of delivery method. 
</p>

<p>These are upper limits, and certainly not a minimum or an exhaustive understanding of what could be submitted as an application. </p>

<p>Once all applications have been reviewed, successful applicants will be sent an invitation to complete LD specific registration and pay the cost-recovery fee to attend. </p>

<p>Leadership day will cost an additional $100 to attend (additional because it is outside of the conference fee you have already been quoted). Even if you are unsure of your ability to afford this, please apply anyway. The LD team can offer one-on-one funding support to find a way to ensure that every successful applicant can attend, regardless of their financial situation. </p>

<p>Get in touch with  Mica (micamccurdy@ewb.ca) if you have any questions/concerns/comments about Leadership Day applications. </p>

<p><strong>To apply for Leadership Day, check the box above, and mail your application to <a href="mailto:leadershipday@ewb.ca">leadershipday@ewb.ca</a></strong>.</p>


