{#{% extends 'events/base.html' %}#}
{% extends 'conference/confsite.html' %}

{% load i18n %}
{% load uni_form_tags %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load group_tags %}
{% load topics_tags %}

{% block head_title %}National Conference 2014{% endblock %}

{% block bodyold %}
    <h2>National Conference 2014: Registration</h2>
    
    <p>Registration for the conference is now closed.</p>
    
    
{% endblock %}

{% block body %}
<br/><br/>

	<style type="text/css">
		.descform
		{
			width: auto;
			position: static;
		}
		.descform th, .descform td
		{
			align: center;
			padding: 10px;
		}
		label
		{
			text-align: right;
			font-weight: bold;
		}
		li label
		{
			text-align: left;
			font-weight: normal;
		} 
		div.heading
		{
			font-weight: bold;
			font-size: 1.5em;
			text-align: center;
		}
		.uniForm .inlineLabels select, .uniForm select
		{
			width: auto;
			max-width: 200px;
		}
		
		input.deleteAddressSubmit
		{
		    position: relative;
		    top: -26px;
		    left: 80px;
		}
		
		#new-address label, .editAddress .inlineLabels label
		{
			font-size: 12px;
			float: none;
			margin: 0;
			width: 100%;
			font-weight: normal;
			text-align: left;
			line-height: 2;
		}
		#new-address .ctrlholder, .editAddress .ctrlholder
		{
			padding: 0 1em 0.5em 1em;
		}
		#address_detail div
		{
			font-size: 12px;
		}
#confshirt {
float: right;
margin-top: -110px;
margin-right: 275px;
height: 150px;
z-index: 100;
}
#hint_id_tshirt {
z-index: 100;
}

	</style> 

	{% if not registration or not registration.submitted %}
	
		{% if form.non_field_errors %}
			<div class="uniForm">
				<div class="ctrlHolder error">{{ form.non_field_errors }}</div>
			</div>
		{% else %}
			{% if form.errors %}
				<div class="uniForm">
					<div class="ctrlHolder error">Please correct the errors below</div>
				</div>
			{% endif %}
		{% endif %}

		{% comment %}
		<p>We are very happy to invite our members to join us for 3 exciting days of work and learning at our 10th Anniversary National Conference from January 13-15, 2011!</p>
		
		<p>You will require a registration code from your chapter president to register below at the subsidized rate.</p>
		
		<p>
			What does this registration include?
			<ul>
				<li>Attendance and accommodations from Wednesday night through Saturday night.</li>
    			<li>One ticket to the closing Gala Saturday evening</li>
    			<li>Presidents, JFs and certain executive members will also be invited for a special leadership day on Wednesday the 12th at no extra cost.</li>
    			<li>The most stimulating and challenging single experience you'll ever have.</li>
			</ul>
		</p>
		
		<p>This is your first step on the exciting road to Conference 2011! After registering you will begin to get regular updates and be given opportunities to participate in a series of lead up activities to help you get the most out of the event.</p>
		{% endcomment %}
		
		<br/>
		
		{#<h2>National Conference 2013: Registration</h2>#}
		<form id="conf-registration" method="POST" action="" class="uniForm" enctype="multipart/form-data">
			<fieldset class="inlineLabels">
				
				<div class="heading">National Conference 2014<br/>Registration Details</div>
				<div style='text-align: center;'>Page {{ stage|default:1 }} of 9</div>

                {% ifequal stage '1' %}
					<div style='text-align: center; font-weight: bold;'>
                        <br/>
						Please confirm your personal information
                        <br/>
					</div>
                {% endifequal %}
                {% if not stage %}
					<div style='text-align: center; font-weight: bold;'>
                        <br/>
						Please confirm your personal information
                        <br/>
					</div>
                {% endif %}
										
				{% ifequal stage '7' %}
					<br/><br/>
					{% include "conference/africandelegates.html" %}
				{% endifequal %}
				{% ifequal stage '9' %}
					<br/><br/>
					<div style='text-align: center; font-weight: bold; font-style: italic;'>
						You will have an opportunity to preview your registration on the next page.
					</div>
					<br/>
				{% endifequal %}
		
				{{ form|as_uni_form }}
				
{% comment %}
                {% if not stage %}
                     <div class="ctrlHolder">
                         <label>&nbsp;</label>
                         <img src="{{ STATIC_URL }}images/conference-tshirt.png"/>
                     </div>
                {% endif %}
{% endcomment %}

				{% ifequal stage '8' %}
					<br/><br/>
					{% include "conference/leadershipday.html" %}
				{% endifequal %}
                                
	            <div class="form_block ctrlHolder">
	            	{% if stage %}
	                	<a href="{% url confreg %}?reg_stage={{ last_stage|default:'' }}">Back to last page</a>
	                	&nbsp;&nbsp;&nbsp;
	                {% endif %}
	                <input type="submit" value="Continue to next page" />
	                <label>&nbsp;</label>
	            </div>
				
				<input type="hidden" name="reg_stage" value="{{ stage|default:'' }}"/>
			</fieldset>
		</form>

		<div style="display: none;">
		<div id="confoptiondiv" style='padding: 15px;'>
        <strong>Registration</strong><br/>
		<table border='1' class='descform' id='confoptiontable'>
		  <tr>
		    <th>&nbsp;</th>
		    <th>Early bird (before Nov 20)</th>
		    <th>Standard (after Nov 20)</th>
		  </tr>
		  <tr>
		    <th>Public</th>
		    <td>$550</td>
		    <td>$650</td>
		  </tr>
		  <tr>
		    <th>Partner Organization</th>
		    <td>$475</td>
		    <td>$560</td>
		  </tr>
		  <tr>
		    <th>Partner Organization - NGO</th>
		    <td>$400</td>
		    <td>$470</td>
		  </tr>
		  <tr>
		    <th>Government</th>
		    <td>$450</td>
		    <td>$530</td>
		  </tr>
		  <tr>
		    <th>EWB Alumni</th>
		    <td>$425</td>
		    <td>$500</td>
		  </tr>
		  <tr>
		    <th>EWB member</th>
		    <td colspan='2' style='text-align: center;'>
		    	<em>registration code required</em>
		    </td>    
		  </tr>
		</table>
        <br/><br/>
        <strong>Hotels and transportation</strong>
		<table border='1' class='descform'>
		  <tr>
		    <th>Hotel - quad occupancy</th>
		    <td>$115</td>
		    <td>Share a queen bed with one person in a room of four for the conference (Thursday night, Friday night, Saturday night, and Sunday night).</td>
		  </tr>
		  <tr>
		    <th>Hotel - double occupancy</th>
		    <td>$230</td>
		    <td>Have your own queen bed and share a room with one other person for the conference (Thursday night, Friday night, Saturday night, and Sunday night).</td>
		  </tr>
		  <tr>
		    <th>Hotel - single occupancy</th>
		    <td>$460</td>
		    <td>Have your own queen bed in your own room for the conference (Thursday night, Friday night, Saturday night, and Sunday night).</td>
		  </tr>
		  <tr>
		    <th>Transportation</th>
		    <td>$37</td>
		    <td>Includes transportation from TCC to Union and back at specified times each day.</td>
		  </tr>
		</table>        
		</div>
		</div>

		<script type="text/javascript">
			$().ready(function() {
			    $('input[name="whoareyou"]').change(function() {
			        if ($('input[name="whoareyou"]:checked').val() == 'member') {
			            $('#div_id_chapter').slideDown();
			            $('#div_id_role').slideDown();
		            } else {
		                $('#div_id_chapter').slideUp();
		                $('#div_id_role').slideUp();
		            }
			    });
		        if ($('input[name="whareyou"]:checked').val() == 'member') {
		            $('#div_id_chapter').slideDown();
		            $('#div_id_role').slideDown();
		        } else {
		            $('#div_id_chapter').slideUp();
		            $('#div_id_role').slideUp();
		        }


		        if ($('#id_nametag').val() == '')
		            $('#id_nametag').val("{{ registration.user.visible_name }} ");
			            
				$('.confoptiontablelink').colorbox({transition: 'elastic',
													opacity: '0.5',
													inline: true,
													width: '50%',
													href: '#confoptiondiv',
				});

$('.colorbox').colorbox({opacity: '0.5', height: '75%'});


				$('#conf-registration').submit(function() {
					if ($('select[name=address]').val() == 'new')
					{
						$('select.compactaddresswidget').change(function() {
							$('#conf-registration').submit();
						});
						$('#new-address').submit();
						return false;
					}
					else
						return true;
				});

/*
				var hotel_options_touched = false;
				$('input[name=type]').change(function() {
				    hotel_options_touched = true;
				});
				$('#id_code').change(function() {
				    if ($(this).val()) {
				        if (!hotel_options_touched)
    				        $('#id_type_0').attr('checked', 'checked');
				        $('#id_type_0').attr('disabled', false);
				        $('#id_type_1').attr('disabled', false);
				        $('#id_type_2').attr('disabled', false);
				    }
				    else if (!$(this).val()) {
    				    hotel_options_touched = false;
				        $('#id_type_3').attr('checked', 'checked');
				        $('#id_type_0').attr('disabled', true);
				        $('#id_type_1').attr('disabled', true);
				        $('#id_type_2').attr('disabled', true);
				    }
				});

				if (!$('#id_code').val()) {
				    $('#id_type_0').attr('disabled', true);
				    $('#id_type_1').attr('disabled', true);
				    $('#id_type_2').attr('disabled', true);
			    }
*/
			});
		</script>

	{% else %}
		<br />
		<p align="center" style="font-weight: bold;">
			You are currently registered to attend the conference!
			From this page you may:
		</p>

		<p align="center">
			<a href="{% url conference_receipt %}" style="font-weight: bold;">click here for a printable receipt &raquo;</a>
		</p>

		<p align="center">or</p>

		<p align="center">
			<a href="{% url conference_cancel %}">click here to cancel your registration</a> 
{#<span style="text-decoration: line-through;">click here to cancel your registration</span><br/>#}
{#<em>Registration changes and cancellations can not be made after January 7.</em>#}
		</p>

		<br />
		<br />
		<p>Keep checking the conference website at <a href="http://conference2013.ewb.ca/">http://conference2013.ewb.ca</a> for up-to-date information regarding the conference!</p>

	{% endif %}

{% endblock %}
