{# Put this in its own file, just because it's so big... #}

<link rel="stylesheet" href="{{ STATIC_URL }}css/myewb-frontright.css?d=20100608c" />

<style>
/* hi Francis!  : )   */
a.bigorangebutton {
background-image:url(https://perspectives.ewb.ca/theworks/css/images/textures/Orange-Noise.png);
}

 
</style>





{% comment %}
<script type="text/javascript">

/* 
from http://api.jquery.com/load/
Due to browser security restrictions, most "Ajax" requests are subject to the same origin policy; the request can not successfully retrieve data from a different domain, subdomain, or protocol. */

function loadBlogs() {
    var blogsUrl = "http://blogs.ewb.ca/world/htmlapi.php?view=list&noheaders=1";
    $('#blogcontainerdiv').load(blogsUrl);

}


$(document).ready(function() {
    loadBlogs();
}

</script>
{% endcomment %}


{# <div id="toolbarcolumn_right2"> #}
{% comment %}
        <div>
                <div class="toolbarheader_right">The myEWB 1.5 Scavenger Hunt!</div>
                <div class="toolbarcontent_right">
                    Welcome to the new myEWB!  We hope you like it. Be sure to send us your feedback by clicking the orange tab on the right - thanks!
                    <ul class="postlinklist">
                        <strong>Push all of the buttons!</strong>
                            
                        <li>toggle-able toolbars</li>
                        <li>hide and show the Around EWB section here</li>
                        <li>rock the dynamic homepage by clicking the links under "Latest posts"</li>
                        <li>find and edit your chapter's whiteboard</li>
                        <li>add a new profile pic to your account</li>
                        <li>join a bunch of interesting communities!</li>
                        

                        <strong>For bonus points</strong>

                        <li>share contact information with 5 people you know!</li>
                        <li>send a message to someone you haven't seen since Conference!</li>
                        <li>create your own community!</li>
                        <li>apply for an APS placement! (kidding, that's coming soon)</li>
                    </ul>

                </div>
        </div>
        
{% endcomment %}
        <div>
                <div class="toolbarcontent_right">
                    <ul class="postlinklist">
                        <li>&raquo; EWB Direction (<a href="http://vision.ewb.ca/sites/vision.ewb.ca/files/direction.pdf" target="_blank">pdf</a>) (<a href="http://vision.ewb.ca/node/148" target="_blank">browse</a>)</li>
                        <li>&raquo; EWB Values (<a href="http://my.ewb.ca/postfile/69028/EWB+Values_and_Beliefs.pdf" target="_blank">pdf</a>) (<a href="http://vision.ewb.ca/node/150" target="_blank">browse</a>)</li>
                        <li>&raquo; <a href="http://chapters.ewb.ca/" target="_blank">Chapter resources</a></li>
                        <li>&raquo; <a href="http://wiki.ewb.ca/" target="_blank">Orange Wiki of Change</a></li>
                        <li>&raquo; <a href="http://vision.ewb.ca/" target="_blank">EWB Vision</a></li>
			<li>&raquo; <a href="http://blogs.ewb.ca/board/" target="_blank">Board of Directors</a></li>

                    </ul>
                    
<div style="text-align: right; padding: 3px 0; margin-top: 0; margin-right: 6px; font-size: 11px;"><a href="http://sites.ewb.ca" class="more" target="_blank">All EWB websites &raquo;</a></div>

                    
{% comment %}
                </div>
        </div>


        <div>
             <div class="toolbarcontent_right">               
{% endcomment %}<br/>
                <div id="ewbbc">
                <div id="ewbbc-flash">

{% if not grandfathered %}

{% comment %}
<object width="277" height="233"><param name="movie" value="http://www.youtube.com/v/nlmAcqCQ85E?fs=1&amp;hl=en_US&amp;rel=0&amp;color1=0x5d1719&amp;color2=0xcd311b"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/nlmAcqCQ85E?fs=1&amp;hl=en_US&amp;rel=0&amp;color1=0x5d1719&amp;color2=0xcd311b" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="277" height="233"></embed></object>

<iframe src="http://player.vimeo.com/video/24621998?title=0&amp;byline=0&amp;color=ffffff" width="225" height="130" frameborder="0" style='margin: 0 25px;'></iframe>
{% endcomment %}

<iframe width="274" height="169" src="http://www.youtube.com/embed/vTwr8Ktt8Wo" frameborder="0" allowfullscreen></iframe>

{# <iframe src="http://player.vimeo.com/video/30743585?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933" width="276" height="155" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe> #}

{% endif %}

                </div> <!-- ewbbc-flash -->
            </div> <!-- ewbbc -->

                <div style="text-align: right; padding: 3px 0; margin-top: 0; margin-right: 6px; font-size: 11px;"><a href="http://www.youtube.com/user/ewbnetwork" class="more" target="_blank">more videos from EWB &raquo;</a></div>

                </div> <!-- toolbarcontent_right -->
        </div>
        
        
        
{% comment %}        
        {# profile #}
        <div>
                <div class="toolbarheader_right"><a href="http://ewb.ca/africa" target="_blank">African Leader profile</a></div>
                <div class="toolbarcontent_right">
                    <img src="{{ MEDIA_URL }}images/frontpage-right/apiiga.jpg" style="float:right; padding-left:4px; padding-bottom:4px;"/><span><strong>S.Y. Apiiga</strong> runs a radio program in Ghana that shares agricultural information with tens of thousands of small-scale farmers.<br/><em>"I am passionate about sharing knowledge! For 20 years I shared and published information for my fellow animal scientists.  Recently however, I realized that my knowledge can best be used if it is shared directly to whom it is most valuable: farmers."</em></span>                    
                    
                </div>
        </div>
        
{% endcomment %}        

{% comment %}
        <div>
                <div class="toolbarheader_right"><a href="http://www.ewb.ca/en/whatsnew/index.html" target="_blank" class="barheaderlink">What's New @ EWB</a></div>
                <div class="toolbarcontent_right">
                <ul class="postlinklist">
                                <li><a href="http://www.ewb.ca/en/whatsnew/features/091217_one.html">World of Opportunity: Together we have raised $100,000!</a></li>
                                <li><a href="http://www.ewb.ca/en/whatsnew/features/091214_ghanarice.html">EWB promotes local rice during campaign to support Ghanaian rice farmers</a></li>
                                <li><a href="http://www.ewb.ca/en/whatsnew/features/091211_values.html">EWB Releases its newly articulated Values and Beliefs</a></li>
                                <li><a href="http://www.ewb.ca/en/whatsnew/features/091208_water.html">Exponential Change: Investing in the leaders who bring clean water to Malawi</a></li>
                                <li><a href="http://www.ewb.ca/en/whatsnew/features/091203_agric.html">Unlocking the potential of rural farmers in Ghana</a></li>

                </ul>
                <p style="text-align: right; padding-top: 0; margin-top: 0; padding-right: 0px; margin-right: 6px;"><a href="http://www.ewb.ca/en/whatsnew/index.html" class="more" target="_blank">See what else is new &raquo;</a></p>

                </div>
        </div>
{% endcomment %}

        <div>
                <div class="toolbarheader_right"><a href="http://blogs.ewb.ca/" target="_blank" class="barheaderlink" title="Click to visit blogs.ewb.ca">Latest EWB Blogs</a></div>
                <div class="toolbarcontent_right">
                
                
             <iframe id="blogs_src_iframe" src="http://blogs.ewb.ca/world/htmlapi.php{#?view=listenhanced#}?num=10" width="100%" height="225" frameborder="0" style="margin:-6px;overflow:auto;width:299px;">
  <p>Read the latest stories from our EWB overseas staff and volunteers at <a href="http://blogs.ewb.ca" target="_blank">blogs.ewb.ca</a>!</p>
</iframe>   


<div id="blogcontainerdiv"></div>

                
<div style="text-align: right; padding: 3px 0; margin-top: 0; margin-right: 6px; font-size: 11px;"><a href="http://blogs.ewb.ca" class="more" target="_blank">more EWB blogs &raquo;</a></div>
                
{#                <span class="lighter">Now updated automagically! Find the latest stories from our JFs and African Programs staff at <a href="http://blogs.ewb.ca" target="_blank">blogs.ewb.ca</a>.</span> #}
                
                









                </div>
        </div>

        <div>
                <div class="toolbarheader_right"><a href="http://twitter.com/ewb" class="barheaderlink">Across the country</a></div>
                <div class="toolbarcontent_right" style="padding: 0px;">

				<div id="twitterbar" style="margin-left: -1px;">
				<style>
				.twtr-hd
				{
				  display: none;
				}
				.twtr-doc, .twtr-timeline
				{
				  -moz-border-radius-bottomleft:0px;
				  -moz-border-radius-bottomright:0px;
				  -moz-border-radius-topleft:0px;
				  -moz-border-radius-topright:0px;
				}
				#twtr-widget-1 p
				{
				  font-size: 12px;
				}
				</style>
				<script src="http://widgets.twimg.com/j/2/widget.js"></script>
				<script>
				new TWTR.Widget({
				  version: 2,
				  type: 'search',
				  search: '#ewb',
				  interval: 2000,
				  title: 'What are you doing? Tweet it with #ewb',
				  subject: 'Across The Country',
				  width: 301,
				  height: 500,
				  theme: {
				    shell: {
				      background: '#001f65',
				      color: '#ffffff'
				    },
				    tweets: {
				      background: '#ffffff',
				      color: '#444444',
				      links: '#0047ee'
				    }
				  },
				  features: {
				    scrollbar: true,
				    loop: false,
				    live: true,
				    hashtags: true,
				    timestamp: true,
				    avatars: true,
				    behavior: 'all'
				  }
				}).render().start();
				</script>
				
				</div>

                </div>
	</div>

        <div>
                <div class="toolbarheader_right"><a href="http://www.facebook.com/ewbcanada" class="barheaderlink">On Facebook</a></div>
                <div class="toolbarcontent_right" style="padding: 0px;">

<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fewbcanada&amp;width=288&amp;colorscheme=light&amp;show_faces=true&amp;stream=true&amp;header=false&amp;height=550" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:288px; height:550px;" allowTransparency="true"></iframe>
		</div>

        </div>
{# </div> #}

