<a style="display: block; font-size: 16px; font-weight: bold; background: yellow; border-bottom: 1px solid; text-align: center; position: fixed; top: 0; left: 0; text-decoration: none; width: 100%; padding: 5px;" id="themeswitch" href="{% url themeswitch %}">
	Click here to preview the new myEWB!
</a>
<div style="height: 10px;"></div>

<link type="text/css" href="{{STATIC_URL}}css/colorbox.css" rel="stylesheet" />
<script type="text/javascript" src="{{STATIC_URL}}js/colorbox.js"></script>
<script type="text/javascript">
	$().ready(function() {

		$('#themeswitch').colorbox({width: '75%',
									height: '75%',
									opacity: '0.5',
									onOpen: function() {
												$('#ewbbc-flash').hide();
											},
									onClosed: function() {
												$('#ewbbc-flash').show();
											}
									});
	});
</script>