
/* root element for tabs  */
.tabs, .ui-tabs-nav { 
	list-style:none; 
	margin: 0 !important; 
	padding:0;
	height:30px;
	border-bottom:1px solid #db7403;
}

/* single tab */
.tabs li, .ui-tabs-nav li { 
	float:left;	 
	text-indent:0;
	padding:0;
	margin:0 !important;
	list-style-image:none !important; 
}

/* link inside the tab. uses a background image */
.tabs a, .ui-tabs-nav a { 
	font-size:12px;
	display:block;
	height: 30px;  
	line-height:30px;
	width: 111px;
	text-align:center;	
	text-decoration:none;
	padding:0px;
	margin:0px;	
}

.tabs a:active, .ui-tabs-nav a:active {
	outline:none;		
}

.tabs a:hover, .ui-tabs-nav a:hover {
	background: #f8efda;	
}

/* active tab uses a class name "current". it's highlight is also done by moving the background image. */
.tabs .current, .tabs .current:hover, .tabs li.current a,
.ui-tabs-nav .current, .ui-tabs-nav .current:hover, .ui-tabs-nav li.current a {
	cursor:default !important; 
	color:#fff !important;
	background: #fd7200 !important;
}

/* initially all panes are hidden */ 
.panes .pane {
	display:none;		
}
