</div></div>

<div id="copyright" class="content"><div>Copyright &copy;2010 Engineers Without Borders Canada. All Rights Reserved.</div></div>	</div>


<script type="text/javascript">
	$('.delegatelink').colorbox({transition: "elastic", width:"80%", height:"80%"});
/*
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-907833-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
*/

</script>

</body> 
</html> 

