</head> 

    <body>
	<div id="nav" class="content"><p>Fran&ccedil;ais | <a href="http://conference2011.ewb.ca/">Home</a><a> </a>| Blog | Search | <a href="http://conference2011.ewb.ca/about.html">About</a>&nbsp;| <a href="http://conference2011.ewb.ca/contact.html">Contact</a></p></div>
	<div id="container_sp">
		<div id="site" class="content">

			<div id="header_sp"><div id="logo"><a href="http://conference2011.ewb.ca"></a></div><div id="hatchsm"><a href="http://www.hatch.ca"></a></div> 

<div class="textsub"><h1>Registration</h1></div></div> 

			<div id="sidebar" class="round">
	<div class="link child"><a href="http://conference2011.ewb.ca/welcome.html">Welcome</a></div> 
	<div class="link child"><a href="http://conference2011.ewb.ca/alumni.html">For Alumni</a></div> 
	<div class="link child"><a href="http://conference2011.ewb.ca/delegates.html">For Delegates</a></div>
	<div class="link child"><a href="http://conference2011.ewb.ca/sponsorship.html">For Sponsors</a></div>
	<div class="link"><a href="http://conference2011.ewb.ca/registration.html">Registration</a></div>
	<div class="link child round last">
	Search<br />
	<input type="text" id="search">

	</div>
	<div class="social">
		<div class="facebook icon"><a href="http://www.facebook.com/ewbcanada"></a></div>
		<div class="twitter icon"><a href="http://twitter.com/ewb"></a></div>
		<div class="youtube icon"><a href="http://www.youtube.com/user/ewbcanada"></a></div>
		<div class="rss icon"><a href="http://www.ewb.ca/e-news/en/rss"></a></div>
	</div>
</div>			<div id="content">


