{% extends "communities/base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load wiki_tags %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load communities_tags %}
{% load base_groups_tags %}
{% load group_tags %}
{% load topics_tags %}
{% load events_tags %} 

{% block head_title %}{{ group.name }}{% endblock %}

{% block groupbody %}
<style>
    .groupdetail th, .groupdetail td {
        vertical-align: top;
    }
    .groupdetail p {
        margin-top: 0;
    }
</style>
    
<table class="standard standard-right search-form groupdetail">
    <tbody>

        {% comment %}<tr>
            <th>label</th>
            <td>content</td>
        </tr>
        {% endcomment %}
        
        <tr>
            <th>{% trans "Description" %}</th>
            <td>
                <p>{{ group.description }}</p>
            </td>
        </tr>
        
        <tr>
            <th>Group type</th>
            <td>
                <p>
                    {% ifequal group.visibility 'E' %}
                        {% if group.invite_only %}
                            Invite-only group: shows up in listings, but membership must be approved
                        {% else %}
                            Public group: shows up in listings, and anyone can join
                        {% endif %}
                    {% else %}
                        Private group: does not show up in listings, and membership must be approved
                    {% endifequal %}
                </p>
                <p>
                    {% ifequal group.group_type 'd' %}
                        Discussion group: anyone can post, and all posts are emailed to the group
                    {% else %}
                        Announcement-only: anyone can post, but only admins can can send emails to the group
                    {% endifequal %}
                </p>
            </td>
        </tr>
  
        <tr>
            <th>{% trans "Date created" %}</th>
            <td>{{ group.created|date }}</td>
        </tr>
  
  		{% ifnotequal group.creator.id 1 %}
	        <tr>
	            <th>{% trans "Created by" %}</th>
	            <td><a href="{% url profile_detail group.creator.username %}">{{ group.creator.visible_name }}</a></td>
	        </tr>
	    {% endifnotequal %}
        

        
        {% if group.tags %}
        <tr>
            <th>{% trans "Tags" %}</th>
            <td>{% show_tags_for group %}</td>
        </tr>    
        {% endif %}
        {# @@@ currently not used. #}
        
        {% if member %}
            <tr>
                <th>My email settings</th>
                <td><p>
                    {% if member.emails_enabled %}
                        {% ifequal group.group_type 'a' %}
                            I receive emails that are marked as announcements.
                        {% else %}
                            I receive emails for all posts.
                        {% endifequal %}
                        <br/>
                        <a href="{% url group_member_disable_email group.slug request.user.username %}">Disable emails from this group.</a>
                    {% else %}
                        I do not receive emails from this group.<br/>
                        <a href="{% url group_member_enable_email group.slug request.user.username %}">Enable emails from this group.</a>
                    {% endif %}
                </p></td>
        {% endif %}
        
    </tbody>
</table>

{% endblock %}

