{% extends "finance/base.htm" %}

{% block title %}Monthly Reports{% endblock title %}

{% block finance_body %}

	<h2>Monthly Report - {% if monthly_report %}{{monthly_report.date|date:"F Y"}}{% else %} {{min_date|date:"F Y"}}{% endif %}</h2>
	<table>
		<tr>
		<td>Incoming Balance:</td>
		<td>   $</td>
		<td align = "right">{{incoming_balance}}</td>
		</tr>
		<tr>
		<td>End Balance:</td>
		<td>   $</td>
		<td align = "right">{{outgoing_balance}}</td>
		</tr>
	</table>
	<br /><br />
	{% if current %}
		Location: Chapter Bank Account<br /><br />
	{% else %}
		Location: {% ifequal monthly_report.type "CH" %} Chapter Bank Account {% else %} National Office {% endifequal %}<br /><br />
		Submitted by: {{monthly_report.creator}}<br />
		Submitted on: {{monthly_report.enter_date}}<br /><br />
	{% endif %}
	
	{% if current %}
		{% if empty %}
			<form action="{% url monthlyreports_submit_confirm group_slug=group.slug year=year month=month %}" method="get">
				<input type="submit" value="Submit Blank Report"/>
			</form>
		{% else %}
			<form action="{% url monthlyreports_submit_confirm group_slug=group.slug %}" method="get">
				<input type="submit" value="Submit Report"/>
			</form>
		{% endif %}
	{% else %}
		[<a href="{% url csv_monthlyreport id=monthly_report.id group_slug=group.slug %}">Download to CSV</a>]
	{% endif %}
	
	{% if empty %}
		<br /><br />There are no transactions recorded for this month.
	{% else %}
	<h3 align = "center">Summary</h3>
	
	<table class="cellpadding8 standard" width="300" style="margin: 0 auto;">
		<tr>
		<th>Category</th>
		<th>Amount</th>
		</tr>
		<tr>
		<td><b>Income</b></td>
		<td align="right"><b>{{income_total.total|floatformat:2}}</b></td>
		</tr>
	{% for t in income_category %}
		<tr>
		<td>{{t.category__name}}</td>
		<td align="right">{{ t.totalcategory|floatformat:2 }}</td>
		</tr>
	{% endfor %}
		</tr>
		<tr>
		<td><b>Expenditure</b></td>
		<td align="right"><b>{{expenditure_total.total|floatformat:2}}</b></td>
		</tr>
	{% for t in expenditure_category %}
		<tr>
		<td>{{t.category__name}}</td>
		<td align="right">{{ t.totalcategory|floatformat:2 }}</td>
		</tr>
	{% endfor %}
		<tr>
		<td><b>Net</b></td>
		<td align="right"><b>{{net|floatformat:2}}</b></td>
		</tr>
	</table>
	<p></p>
	<table align = "center">
	<tr>
	<td align="center"><i>Income Breakdown</i></td>
	<td align="center"><i>Expenditure Breakdown</i></td>
	</tr>
	<tr>
	<td><img src="{{income_chart}}" alt="Income Breakdown" /></td>
	<td><img src="{{expenditure_chart}}" alt="Expenditure Breakdown" /></td>
	<tr>
	</table>
	<p></p>
	
	<h3 align = "center">Transactions</h3>	
	<table class="cellpadding8 standard" width="700" style="margin: 0 auto;">
		<tr>
		<th style='text-align: left;'>Bank Date</th>
		<th style='text-align: left;'>Category</th>
		<th style='text-align: left;'>Description</th>
		<th style='text-align: left;'>Income</th>
		<th style='text-align: left;'>Expense</th>
		<th style='text-align: left;'>HST</th>
		<th style='text-align: left;'>Details</th>
		</tr>
	{% for t in trans %}
		<tr>
		<td>{{t.bank_date}}</td>
		<td>{{t.category.name}}</td>
		<td>{{t.description}}</td>
		<td align="left">{% ifequal t.type "IN" %}{{ t.amount|floatformat:2 }}{% endifequal %}</td>
		<td align="left">{% ifequal t.type "EX" %}{{ t.amount|floatformat:2 }}{% endifequal %}</td>
		<td>{% if t.expenditure %}{{ t.expenditure.hst }}{% endif %}</td>
		<td><a href="{% url view_id id=t.id group_slug=group.slug %}">View Detail</a></td>
		</tr>
	{% endfor %}
		<tr>
		<td>Total</td>
		<td></td>
		<td></td>
		<td align="left">{{income_total.total|floatformat:2}}</td>
		<td align="left">{{expenditure_total.total|floatformat:2}}</td>
		<td>{{ hst_total.total|floatformat:2}}</td>
		<td></td>
		</tr>
	</table>
	{% endif %}
	
	</br></br>


{% endblock finance_body %}
