{% extends "conference/schedule2/base.html" %}

{% block body2 %}
    <h2>Edit Session</h2>
    
    <form action="" method="post">
        <table>
            {{ form.as_table }}
            <tr>
                <th>&nbsp;</th>
                {% if new %}
                    <td><input type="submit" value="Add"/></td>
                {% else %}
                    <td><input type="submit" value="Edit"/></td>
                {% endif %}
            </tr>
        </table>
    </form>
    
    <br/>
    <strong>Time: </strong> {{ session.timeslot.day|date:"l"}}, {{ session.timeslot.time|time:"g:i" }} - {{ session.timeslot.endtime|time:"g:i A" }}<br/>
    <strong>Common session: </strong> {% if session.common %}yes{% else %}no{% endif %}<br/>
    <br/>

    {% if not session.common %}
        <strong>Recommended if any of...:</strong><br/>
    	{% for c in session.conferencesessioncriteria_set.all %}
    		{% if c.first_conference %}
    			First conference is {{ c.first_conference }}<br/>
    		{% endif %}
    		{% if c.chaptertype %}
    			Chapter type is {{ c.chaptertype }}<br/>
    		{% endif %}
    		{% if c.roles %}
    			Role is is {{ c.roles }}<br/>
    		{% endif %}
    		{% if c.leadership_years %}
    			Years of leadership is {{ c.leadership_years }}<br/>
    		{% endif %}
    		{% if c.leadership_day %}
    			Attending leadership day is {{ c.leadership_day }}<br/>
    		{% endif %}
    		{% if c.innovation_challenge %}
    			Attending innovation challenge is {{ c.innovation_challenge }}<br/>
    		{% endif %}
    		{% if c.prep %}
    			Hours of prep is {{ c.prep }}<br/>
    		{% endif %}
    		{% if c.past_sesssion %}
    			Attended the session {{ c.past_session.name }}<br/>
    		{% endif %}
    		{% if c.other %}
    			The person did not have any recommended sessions for this timeslot<br/>
    		{% endif %}
    	{% endfor %}
    	
    	<br/><br/>
    	
        <a href="{% url conference_send_sms session.id %}"><strong>send a text to all attendees</strong></a><br/>
        <br/>
    
        <strong>Attendees</strong><br/>
        {% for u in session.attendees.all %}
            <a href="http://my.ewb.ca/profiles/{{ u.username }}" target="_new">{{ u.visible_name }}</a> ({{ u.email }})<br/>
        {% endfor %}
    {% endif %}

{% endblock %}
