{% load time_filters %}

<div class='personPopupResult' style="position: relative;">
    <div style='width: 110px; float: left; padding: 5px;'>
        <img src="{{ STATIC_URL }}images/logos/ewbdictionary.png" style='width: 100px;'/>
    </div>
    
    <h2 style='float: left;'>
        <a href="{% url dictionary_view article.slug %}">{{ article.title }}</a>
    </h2>

    <div class="textbody" style='max-height: 100px; overflow-y: scroll; position: relative; clear: left;'>
        {{ article.content|safe }}
    </div>


    <br/>
	<a href="{% url dictionary_view article.slug %}">View the full article!</a>
	
	<br class="clear"/>
    
</div>
<div style='display: none;'>{% url dictionary_ajax article.slug %}</div>
