{% extends "topics/base.html" %}
{#{% extends "topics/base.html" %}#}

{% load avatar_tags %}
{% load i18n %}
{% load uni_form_tags %}
{% load pagination_tags %}
{% load group_tags %}
{% load tagging_tags %}
{% load events_tags %}
{% load cache %}
{% load champ_tags %}
{% load perspectives %}
{% load networks_tags %}
{% load fake_ads %}

{% block extra_head %}
    {{ block.super }}
    
    <link rel="alternate" type="application/rss+xml" title="myEWB Front Page" href="{% url topic_feed_all %}" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/toolbars.css" />   
	
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ba-bbq.min.js"></script>
	
	
	{# JS here for the frontpage ajax updates #}
<script type="text/javascript">
// Frontpage Ajax updates

	/*var currentURL = "";
	
	var shortPosts = false; */
	// both covered by the hashstate

var currentGroup = '';
var currentPage = ''; // not the actual default of 1, so that it'll actually load the first time.
var shortPosts = 0;

var timeout_id = 0;

$(window).bind( 'hashchange', function(e) {
    rockAjaxPosts(0);
});


function rockAjaxPosts(forceReload) {
    group = $.bbq.getState( 'group' ) || '';
    
    page = $.bbq.getState( 'page' ) || 1;
    
    short = $.bbq.getState( 'short' ) || 0;
    
    
    if ( short !== shortPosts ) {
        // turn on or off shortposts
        if (short == 1) {
            //console.log('short on');
            
                $('div.postcontent').slideUp(); $('div.postheader').addClass('shortpost'); $('#collapse-posts').hide(); $('#expand-posts').show(); 
                shortPosts = true;
            
        } 
        else {
            //console.log('short off');
            
            $('div.postcontent').slideDown(); $('div.postheader').removeClass('shortpost'); $('#expand-posts').hide(); $('#collapse-posts').show(); 
          	   
            shortPosts = false;
        }
        shortPosts = short;
        
    }
    
    
    if ( forceReload || (group !== currentGroup && page !== currentPage) ) {
        // switching both at once; only likely to happen via curious people typing in the address bar
        
        //console.log('changegroup to ' + group + ' and page to ' + page);
        
        load_posts(group,page,short,false);
        
        currentGroup = group;
        currentPage = page; // is this always intended? probably.
        // make sure we don't get an endless loop of resetting the page number here.
    }
    
    else if ( group !== currentGroup ) {
        // load the new group
        
        //console.log('changegroup to ' + group);
        
        load_posts(group,1,short,false);
        
        currentGroup = group;
        currentPage = 1; 
    }
    else if ( page !== currentPage ) {
        // load the new page
        
        //console.log('changepage to ' + page);
        
        load_posts(group,page,short,false);
        
        currentPage = page;
    }
    


}

function load_posts(group,page,short,silent)   // now, this'll be a behind-the-scenes function that's only called by hashchanges.
{
	clearTimeout(timeout_id)
    var url = '';

	// no group yet; load default
	if(group=='') {
	   url = "/posts/allactivity/?ajax=1";
	} else {
	   url = '/groups/' + group + '/posts/?ajax=1';
	}
	
	if(page && page!=0) {
	   url = url + '&page=' + page;
	}
	if (short==1) {
    	url += '&short=1';
	}
	
	/* update highlighting in the groups listing */
	if (group) {
    	$('.frontpage-mygroups-actions').hide();
    	$('.frontpage-mygroups-div').removeClass('bkgd-light');

    	$('#frontpage-update-'+group).parent().addClass('bkgd-light');
    	$('#frontpage-update-'+group).siblings('.frontpage-mygroups-actions').show();
	} else {
		$('.frontpage-mygroups-actions').hide();
		$('.frontpage-mygroups-div').removeClass('bkgd-light');
	}

	{# if there is no current timezone selected, auto-detect one #}
	{% if not current_timezone %}
		var d = new Date();
		url = url + "&tzoffset=" + d.getTimezoneOffset();
	{% endif %}
   
    currentURL = url;

    if (silent == false)
    {
    	// maybe bring this back...?  dunno...!
    	//$('#topiclisting').hide();
		$('.frontpage-loading').slideDown();  // @@@ this should be adjusted so it doesn't move everything around.
    }
    
    $('#topiclisting').load(url,
        function() {
            $('.frontpage-loading').stop().hide();

            // if hidden earlier, need to re-show here
            //$('#topiclisting').show();

            // catch pagination-related clicks and load via ajax
            $('.pagination a').click(function() {
               	targetPage =  $.deparam( $(this).attr('href') )['?page'] ;
               	var state = {};
               	state['page'] = targetPage;
               	$.bbq.pushState( state );
               	if(shortPosts!=true)
                {
                	$().scrollTo(0,600);
                }
                return false;
            });
		});

	// and set a timer to auto-refresh... every half hour, let's say?
    timeout_id = setTimeout('load_posts(\'' + group + '\',\'' + page + '\',\'' + short + '\')', 30 * 60 * 1000, true);
}
	
$(document).ready(function() {
	$('.frontpage-update').click(function() {
	  
	  // related actions take place in the updater function now.
	  
	  var groupSlug = $(this).attr("id").substring(17);
	  //load_posts('/groups/' + groupSlug + '/posts/');
	  //$('.frontpage-reset').show();
	  
      var state = {};
      state['group'] = groupSlug;
      state['page'] = 1;
      $.bbq.pushState( state );
        
            
            return false;
	  
	  
	  return false;
	});
	
	$('.frontpage-reset').click(function() {
	  
	  //load_posts('{{request.url}}');
	  //$('.frontpage-reset').hide();
	  
      var state = {};
      state['group'] = '';
      state['page'] = 1;
      $.bbq.pushState( state );
	  
	  return false;
    });
	
    $('#frontpage-loading-refreshlink').click(function() {
        rockAjaxPosts(1);
        return false;
    });
	
	// and the initial start trigger here! shazam!
	$(window).trigger( 'hashchange' );
});
 
 </script>
 
 
{% endblock %}

{% block frontpagerightJS %}
            function toggleFrontpageToolbar() {
                $('#toolbarcolumn_right_container').toggle();
                $('#toolbarcolumn_right_show').toggle();
                
                {% if user.is_authenticated %}
                    
                    var action = "";
                    if (! $('#toolbarcolumn_right_container').is(':visible'))
                        action = "close";
                    else
                        action = "show";
                    
                    $.ajax({
                      url: "{% url profile_toolbar_action %}" + action + "/" + "toolbarcolumn_right_container" + "/",
                      cache: false,  // this prepends another query onto the end with a timestamp - make sure it doesn't mix up the handler page?
                    });
                {% endif %}
                {# state saving only works if youre logged in, so only really try then #}

                                

            }
            
            $('.frontpagetoolbarToggles').click(function(){	
                toggleFrontpageToolbar();

          	  });
          	  
{% endblock %}


{% block head_title %}{% trans "Discussion Board" %}{% endblock %}

{% block body %}
	<div style="padding: 10px; font-size: 14px; background: #f0f0f0; font-weight: bold;">
		Happening in EWB
	</div>

	<div style="padding: 10px 15px;">
		<a href="#" class="switch_discussions">All activity</a> | 
		<strong>Most recent posts</strong> | 
		<a href="#" class="switch_discussions">Most active posts</a> | 
		<a href="#" class="switch_discussions">Team activity</a> |
		<a href="#" class="switch_discussions">Upcoming Events</a> |
		<a href="#" class="switch_discussions">Blogs</a>
	</div>
	
		{% comment %}
		<div style="float: right; width: auto;">
			<a href="{% groupurl topic_new group %}">Start a new discussion &raquo;</a>
		</div>
	    {% endcomment %}
	    
	<div style="float: right; width: 200px; padding-top: 15px;">
		<div style="border: 1px solid #d0d0d0; background: #f0f0f0; -moz-border-radius: 0.5em; -webkit-border-radius: 0.5em; padding: 10px;">
			<strong>Quick link or announcement</strong><br/>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas magna diam, blandit.
		</div>
		<br/><br/>
		<div style="border: 1px solid #d0d0d0; background: #f0f0f0; -moz-border-radius: 0.5em; -webkit-border-radius: 0.5em; padding: 10px;">
			<strong>Quick link or announcement</strong><br/>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas magna diam, blandit.
		</div>
		<br/><br/>
		<div style="border: 1px solid #d0d0d0; background: #f0f0f0; -moz-border-radius: 0.5em; -webkit-border-radius: 0.5em; padding: 10px;">
			<strong>Quick link or announcement</strong><br/>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas magna diam, blandit.
		</div>
		<br/><br/>
		<div style="border: 1px solid #d0d0d0; background: #f0f0f0; -moz-border-radius: 0.5em; -webkit-border-radius: 0.5em; padding: 10px;">
			<strong>Quick link or announcement</strong><br/>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas magna diam, blandit.
		</div>
		<br/><br/>
	</div>

	<div style="margin-right: 220px; border-top: 1px solid #e0e0e0; padding-top: 10px;">

	<div class="frontpage-loading" style='border-top: 1px solid #e0e0e0;'><a href="#" id="frontpage-loading-refreshlink">[refresh]</a>Loading...</div>     
 
 	<div id="topiclisting">
    </div>
    
    </div>

{% endblock %}
 

{% block extra_body %}
<div style="display: none;">

<div id="div_switch_discussions">
	<h1>We haven't built this yet...</h1>
	
	<p>
		But this would let you choose what types of updates appear.
	</p>
	
	<p>
		We'd like to show a few different types of activities:
		<ul>
		<li>Posts and replies (split between most recent and most relevant/active; on your profile page, you can choose topics you are interested in to help us select relevant posts)</li>
		<li>Things happening in your chapters and teams (new or updated files, people joining or leaving, etc)</li>
		<li>Upcoming events, invitations, RSVPs, etc</li>
		<li>Blog posts (the current "World of EWB" feed)</li>
		<li>... or do you have other ideas on content types? =)</li>
		</ul>
	</p>
</div>
</div>
	
<script type="text/javascript">
	$().ready(function() {

		$('#switch_home').colorbox({width: '50%',
									height: '50%',
									opacity: '0.5',
									inline: true,
									href: '#div_switch_home'
								   });
		$('.switch_discussions').colorbox({width: '50%',
										   height: '50%',
										   opacity: '0.5',
										   inline: true,
										   href: '#div_switch_discussions'
										  });
		$('#hide_home').click(function() {
			$('#home_dashboard').slideUp();
			$('#home_controls').hide();
			$('#home_controls2').show();
		});
		$('#expand_home').click(function() {
			$('#home_dashboard').slideDown();
			$('#home_controls2').hide();
			$('#home_controls').show();
		});
	});
</script>
{% endblock %}
