{% load group_tags %}
{% load networks_tags %}
{% load events_tags %}

<style>
	.dashboard-detail { display: none; }
</style>

<h2 class="chapterspecific-title h2bold">
	{{ group.name }}
   	<select class='normalize'>
   		<option>-- switch to --</option>
   		<option>Group X</option>
   		<option>Group Y</option>
   		<option>Group Z</option>
   	</select>
</h2>

<div class="grid_4 alpha">
	<div class="chapterspecific-branch border-right">

	<ul id="dashboard_links">
		<li><a href="#" id="dashboard_new_posts" class="current">New posts <span class="numero">{{ recent_posts.count }}</span></a></li>
                <li><a href="#" id="dashboard_champ_entries">New champ entries <span class="numero">{{ champ_entries.count }}</span></a></li>
                <li><a href="#" id="dashboard_files_uploaded">Updated files <span class="numero">{{ files_uploaded.count }}</span></a></li>
                <li><a href="#" id="dashboard_events">Events this week <span class="numero">{{ events.count }}</span></a></li>
{#                <li><a href="#" id="dashboard_new_members">New members <span class="numero">{{ new_members.count }}</span></a></li> #}
	</ul>
	</div>

</div>

<div class="grid_7 omega">
<div id="new_posts" class="dashboard-detail" style="display: block;">
    <div class="dashboard-detail-more">
        <a href="{% groupurl topic_list group %}">go to post list &raquo;</a>
    </div>
    {% for p in recent_posts|slice:":5" %}
        <a href="{{ p.get_absolute_url }}">{{ p }}</a> ({{ p.creator.visible_name }})<br/>
    {% endfor %}
    <a href="#">test1</a><br/>
    <a href="#">test2</a><br/>
    <a href="#">test3</a><br/>
    <a href="#">test4</a><br/>
</div>

<div id="champ_entries" class="dashboard-detail">
    <div class="dashboard-detail-more">
        <a href="{% link_to_current_champ request.user %}">go to CHAMP &raquo;</a>
    </div>
    {% for p in champ_entries|slice:":5" %}
        <a href="{{ p.get_absolute_url }}">{{ p.name }}</a><br/>
    {% endfor %}
</div>

<div id="new_members" class="dashboard-detail">
    <div class="dashboard-detail-more">
        <a href="{% url group_detail group.slug %}">go to member list &raquo;</a>
    </div>
    {% for p in new_members|slice:":5" %}
        <a href="{{ p.user.get_absolute_url }}">{{ p.user.visible_name }}</a><br/>
    {% endfor %}
</div>

<div id="files_uploaded" class="dashboard-detail">
    <div class="dashboard-detail-more">
        <a href="{% url group_detail group.slug %}">go to workspace &raquo;</a>
    </div>
    {% for p in files_uploaded|slice:":5" %}
        <a href="{% url workspace_browse p.workspace.id %}">{{ p.get_filename }}</a><br/>
    {% endfor %}
</div>

<div id="events" class="dashboard-detail">
    <div class="dashboard-detail-more">
        <a href="{% link_to_events_for group 'css_class' 1 %}">go to calendar &raquo;</a>
    </div>
    {% for p in events|slice:":5" %}
        <a href="{{ p.get_absolute_url }}">{{ p.title }}</a><br/>
    {% endfor %}
</div>



</div>
<div class="clear"></div>

