<h1>{{ group.name }}</h1>

<div>
    Recent posts: {{ recent_posts.count }}
    <br/>
    CHAMP entres: {{ champ_entries.count }}
    <br/>
    New members: {{ new_members.count }}
    <br/>
    Files uploaded: {{files_uploaded.count }}
    <br/>
    Events: {{ events.count }}<br/>
</div>
<hr/>

<div id="recent-posts" class="dashboard-detail">
    {% for p in recent_posts|slice:":5" %}
        <a href="{{ p.get_absolute_url }}">{{ p }}</a> ({{ p.creator.visible_name }})<br/>
    {% endfor %}
</div>

<div id="champ-entries" class="dashboard-detail">
    {% for p in champ_entries|slice:":5" %}
        <a href="{{ p.get_absolute_url }}">{{ p.name }}</a><br/>
    {% endfor %}
</div>

<div id="new-members" class="dashboard-detail">
    {% for p in new_members|slice:":5" %}
        <a href="{{ p.user.get_absolute_url }}">{{ p.user.visible_name }}</a><br/>
    {% endfor %}
</div>

<div id="files_uploaded" class="dashboard-detail">
    {% for p in files_uploaded|slice:":5" %}
        <a href="{% url workspace_browse p.workspace.id %}">{{ p.get_filename }}</a><br/>
    {% endfor %}
</div>

<div id="events" class="dashboard-detail">
    {% for p in events|slice:":5" %}
        <a href="{{ p.get_absolute_url }}">{{ p.title }}</a><br/>
    {% endfor %}
</div>


