{% load i18n %}
{% load git_revision %}
{% load avatar_tags %}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->


<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{% if SITE_NAME %}{{ SITE_NAME }} &raquo; {% endif %}{% block head_title %}{% endblock %}</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" href="{{ STATIC_URL }}templates/myewb2/css/newstyle.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}templates/myewb2/css/960.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}templates/myewb2/js/libs/jquery-1.6.2.min.js"><\/script>')</script>
	<script src="{{ STATIC_URL }}templates/myewb2/js/libs/modernizr-2.0.6.min.js"></script>

	{% block extra_head %}
	{% endblock %}
</head>
<body>


<div class="grey-background">
  <div class="container_12">
  
    <div class="grid_12">
      <!-- Heading -->
      
      <div class="myewb-header">
        <div class="myewb-logo"><a href="#" class="border-orange">my<strong>EWB</strong></a></div>
        <ul class="myewb-top-links inliner">
          <li><a href="#" class="current border-orange">Home</a></li>
          <li><a href="#" class="border-purple">Discussions</a></li>
          <li><a href="#" class="border-lightblue">Groups</a></li>
          <li><a href="#" class="border-red">Events</a></li>
          <li><a href="#" class="border-green">Volunteer</a></li>
        
        </ul>
        <div class="myewb-header-right">
          <div class="searchbox">Search...</div>
          <div class="profile-pic"><a href="#"><img src="http://preview.ewb.ca/site_media/static/avatars/.1197516735582/resized/60/avatars/.1197516735582/IMGP1514_2.JPG" class="profile-pic-image" /></a></div>
        </div>
        
      </div>
      
      
    </div>
    <!-- end .grid_12 -->
  
    <div class="clear"></div>

  </div>
</div>
<!-- End of header menu -->


{% block body_base %}
{% block body %} 
    
    
{%comment%}
    
    
<?php

foreach($posts as $post) {

?>
    
    <div class="minipost">
      
      <div class="minipostcontents">

        <div class="minipost-thumb">
          <img src="<?php echo $post['thumb']; ?>"/>
        </div>
        
        <div class="minipost-inside">
        
        
        
          <div class="minipost-heading border-bottom">
          
  
          
  
  
            <div class="minipost-rightcontainer">
              <div class="minipost-replydetails">
                <?php echo $post['latestreply']; ?>
              </div>
  
  
  
  
  
              <div class="minipost-replycount">
              
                  <a class="spch-bub-inside" href="#">
        <span class="point"></span>  
        <em><?php echo $post['replycount']; ?></em>
    </a>
              
<!--                 <span class="numero"><?php echo $post['replycount']; ?></span> -->
              </div>
              <div class="minipost-star">
                <span class="starstar">
                  &star;
                </span>
              
              </div>
  
            </div>
  
          
            <div class="minipost-title">
              <h3><?php echo $post['title']; ?></h3>
            </div>
            <div class="minipost-authortime">
              <?php echo $post['authortime']; ?>
            </div>
            
            
  
  
          
          </div>
          
          <div class="minipost-text">
           <?php echo $post['text']; ?>
          </div>
        
        </div>
        
        

    
      </div>
    
    
      
    
      <div class="dividerstyle minidivider">
        <div class="ds1"></div>
        <div class="ds2"></div>
        <div class="ds3"></div>
        <div class="ds4"></div>
        <div class="ds5"></div>
        <div class="ds6"></div>
      
      </div>
    
    </div>
    

<?php

}

?>
{% endcomment %}
 
{% endblock %}
{% endblock %}   
  
</div>


<div class="bigfooter-background">


  {% include "components/bigfooter.html" %}

</div>


{% include "components/divider.html" %}



<div class="smallfooter-background">

  {% include "components/smallfooter.html" %}


  
  
</div>


<div class="clear"></div>
<br/>







<!-- scripts concatenated and minified via ant build script-->
<script src="{{ STATIC_URL }}templates/myewb2/js/plugins.js"></script>
<script src="{{ STATIC_URL }}templates/myewb2/js/script.js"></script>
<!-- end scripts-->

<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->

</body>
</html>
