{% load i18n %}
{% load git_revision %}
{% load avatar_tags %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
    
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->


<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{% if SITE_NAME %}{{ SITE_NAME }} &raquo; {% endif %}{% block head_title %}{% endblock %}</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/uni-form/uni-form.css" />    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/uni-form/default.uni-form.css" />            
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}templates/myewb2/css/segmented_control.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}templates/myewb2/css/newstyle.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}templates/myewb2/css/960.css">
	<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}templates/myewb2/js/libs/jquery-1.6.2.min.js"><\/script>')</script>
    <script src="{{ STATIC_URL }}templates/myewb2/js/libs/modernizr-2.0.6.min.js"></script>

    {# really only used for tabs... but... yeah. #}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/tabs.css" />
    <script src="http://cdn.jquerytools.org/1.2.6/jquery.tools.min.js"></script>

    {# I use this often enough, I'd love to just include it once and for all...!! #}
    <link type="text/css" href="{{STATIC_URL}}css/colorbox.css?v=5" rel="stylesheet" />
    <script type="text/javascript" src="{{STATIC_URL}}js/colorbox.js?v=6"></script>

	{% block extra_head %}
	{% endblock %}

</head>
<body>


<div class="grey-background">
  <div class="container_12">
  
    <div class="grid_12">
      <!-- Heading -->
      
      <div class="myewb-header">
        <div class="myewb-logo"><a href="{% url home %}" class="border-orange{% block nav_class_home %}{% endblock %}">my<strong>EWB</strong></a></div>
        {% spaceless %}
        <ul class="myewb-top-links inliner">
		  {#  <li><a href="{% url home %}" class="current border-orange">Home</a></li> #}  {# redundent, since the main myEWB heading does this too ?? #}
          <li><a href="{% url topic_list %}" class="border-purple{% block nav_class_discussions %}{% endblock %}">
          		<img src="{{ STATIC_URL }}images/icons3/Chat%202.png"/>
          		Discussions
          </a></li>
          <li><a href="{% url groups_index %}" class="border-lightblue{% block nav_class_groups %}{% endblock %}">
          		<img src="{{ STATIC_URL }}images/icons3/Buddy%20Group.png"/>
          		Groups
          </a></li>
          <li><a href="{% url events_all %}" class="border-red{% block nav_class_events %}{% endblock %}">
          		<img src="{{ STATIC_URL }}images/icons3/Calendar.png"/>
          		Events
          </a></li>
          <li><a href="{% url jobboard_list %}" class="border-green{% block nav_class_volunteer %}{% endblock %}">
          		<img src="{{ STATIC_URL }}images/icons3/Tag.png"/>
          		<span class="twoline">Get Involved</span>
          </a></li>
        </ul>
        {% endspaceless %}
        
        <div class="myewb-header-right">
          <div class="searchbox">
            <form method="get" action="{% url search %}" id="mainsearchform">
               <input type="text" value="search" id="global_search_box" name="q"/>
                    
               {% if user.is_authenticated %}
                    
                  </form>
                  <div class="bkgd-light" style="position: relative; height: 20px; padding: 10px 10px 10px 35px; border-radius: 1em; display: none; z-index: 100;" id="mainsearchoptions">
                    <input type="button" value="content" class="bkgd-light" id="mainsearchcontent" />
                    <input type="button" value="members" class="bkgd-light" id="mainsearchmembers" />
                  </div>
                {% else %}
                   </form>
              {% endif %}

          </div>

          {% if user.is_authenticated %}
            <div class="profile-pic" style='position: relative;'>
                <a class="profile-pic-link" href="{% url profile_detail user %}" id="profile_image">
                  <span data-background-src="{% avatar_url user 40 %}" class="avatar-40"></span>

	                <div id="inbox_count" style="position: absolute; top: 39px; left: 37px; font-weight: bold; padding: 0px; text-align: center;">
                        {% if messages_inbox_count %}
                            <img src="{{ STATIC_URL }}images/icons3/Mail2.png" style='height: 30px; width: 30px;'/>
		                    <span style='position: absolute; top: 8px; left: 0px; color: #db7403; box-shadow: 0 0 0; -webkit-box-shadow: 0 0 0; -moz-box-shadow: 0 0 0;'>{{ messages_inbox_count }}</span>
        		        {% endif %}
		            </div>
                </a>
                
                <br/>
                <div id="profile_links">
                    Logged in as {{user.visible_name}}<br/><br/>
                    
                    {% if user.google_username %}
                        <em><a href="http://mail.ewb.ca" target="_new">{{ user.google_username }}@ewb.ca</a></em><br/><br/>
                    {% endif %}
                    
                    <a href="{% url profile_detail user %}">View my profile</a><br/>
                    <a href="{% url messages_inbox %}">My inbox</a><br/>
                    
                    <br/>
                    <a href="{% url acct_logout %}">Sign out</a>
                    <br/>
                </div>
              </div>
          {% endif %}
        </div>
        
      </div>
      
      
    </div>
    <!-- end .grid_12 -->
  
    <div class="clear"></div>

  </div>
</div>
<div id="subnav" class="topround">
  <div class="container_12">
    <div class="grid_12">
    	{% block subnav %}{% endblock %}
    </div>
  </div>
</div>
<!-- End of header menu -->

<div id="maincontent" class="topround">

    {% block body_base %}
     
        <div class="maincontent-background">
        <div class="container_16">
            <div class="grid_10 suffix_1" id="maincontent-nobars">
                {% block body %} 
                {% endblock %}
                <br/><br/>
            </div>

           	<div class="grid_5" id="righttoolbars">
            	{% block toolbar_left %}
            	{% endblock %}
            	{% block toolbar_right %}
            	{% endblock %}
           	</div>
        </div>
        </div>
        
    {% endblock %}   
      
    {% include "components/divider.html" %}



    <div class="smallfooter-background">

      {% include "components/smallfooter.html" %}


      
	    <br/>  
    </div>


    <div class="clear"></div>

</div>

<div id='lastfooter'>
    <a href="{% url about %}">About myEWB</a> |
    <a href="{% url terms %}">Terms of Use</a> |
    <a href="{% url privacy %}">Privacy Policy</a> |
    <a href="http://www.ewb.ca">&copy; 2005-12 EWB-ISF Canada</a>
</div>

<!-- scripts concatenated and minified via ant build script-->
<script src="{{ STATIC_URL }}templates/myewb2/js/plugins.js"></script>
<script src="{{ STATIC_URL }}templates/myewb2/js/script.js"></script>
<!-- end scripts-->

{% block extra_body %}
{% endblock %}


<!-- TODO - put this in an external file minimize -->
<!-- (this handles the search bar -->
<script type="text/javascript">
    $().ready(function() {
        var is_searching = false;
        var is_focused = false;
        {% if user.is_authenticated %}
            var is_auth = true;
        {% else %}
            var is_auth = false;
        {% endif %}
        
        $('#global_search_box').focus(function() {
            if ($(this).val() == "search")
            {
                    $(this).css("color", "#000000");
                    $(this).val("")
            }
            if (is_auth)
                $('#mainsearchoptions').slideDown();
            is_focused = true;
        });
        $('#global_search_box').blur(function() {
            if ($(this).val() == "")
            {
                    $(this).css("color", "#a0a0a0");
                    $(this).val("search")
            }
            if (!is_searching && is_auth)
                    $('#mainsearchoptions').slideUp();
            is_focused = false;
        });
        
        {% if user.is_authenticated %}
            $('#subnavsearchbox').hover(function() {
                is_searching = true;
            }, function() {
                is_searching = false;
                if (!is_focused)
                    $('#mainsearchoptions').slideUp();
            });

            $('#mainsearchcontent').click(function() {
                $('#mainsearchform').submit();
            });
            $('#mainsearchmembers').click(function() {
                $('#mainsearchform').attr('action', '{% url profiles_index %}');
                $('#mainsearchform').attr('method', 'get');
                $('#global_search_box').attr('name', 'search');
                $('#mainsearchform').submit();
            });
        {% endif %}
        
        /* this handles the profile image on-hover dropdown */
        /*
        $('.profile-pic').hover(
            function() {
                $('.profile-pic-link').addClass('current');
                $('#profile_links').slideDown();
            },
            function() {
                $('#profile_links').slideUp(
                    function() {
                        $('.profile-pic-link').removeClass('current');
                    });
            }
        );
        */

        if ($.trim($('#righttoolbars').html()) == "")
        {
            $('#righttoolbars').hide();
            $('#maincontent-nobars').removeClass('grid_10').removeClass('suffix_1').addClass('grid_16');
        }
    });
</script>


<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->

</body>
</html>
