{% extends "base.html" %}

{% load avatar_tags %}
{% load i18n %}
{% load uni_form_tags %}
{% load pagination_tags %}
{% load group_tags %}
{% load tagging_tags %}
{% load events_tags %}
{% load cache %}
{% load champ_tags %}
{% load perspectives %}
{% load networks_tags %}
{% load winedown_tags %}
{#{% load fake_ads %}#}
{% load dictionary_tags %}

{% block extra_head %}
    {{ block.super }}
    
    <link rel="alternate" type="application/rss+xml" title="myEWB Front Page" href="{% url topic_feed_all %}" />
    

	
	{% comment %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/toolbars.css" />   
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ba-bbq.min.js"></script>
	{% endcomment %}

	<script type="text/javascript" src="{{ STATIC_URL }}js/posts.js"></script>
	
	{# JS here for the frontpage ajax updates #}
<script type="text/javascript">
// Frontpage Ajax updates
	
function refresh_cheerslist(cheersUrl)
{
    clearTimeout(cheers_timeout_id);
    $('#cheerslist').load(cheersUrl,
                          function() {
                            cheers_timeout_id = setTimeout('refresh_cheerslist("' + cheersUrl + '")', 10 * 60 * 1000, true);
                            install_cheers(cheersUrl);
                          });
}

$(document).ready(function() {

	{% if request.user.is_authenticated %}
		{% if request.user.get_profile.get_chapter %}
		    chapter_dashboard("{% url groups_index %}{{ request.user.get_profile.get_chapter.slug }}/summary/");
        {% endif %}
    {% endif %}
    load_homepage_posts();
    refresh_cheerslist("{% url winedown_latest %}");

});
 
 </script>
 
 
{% endblock %}

{% block frontpagerightJS %}

{# commented out toggleable toolbars here - could eventually build back a sidebar block customizer option #}

{% endblock %}


{% block head_title %}{% trans "Home" %}{% endblock %}

{% block nav_class_home %} current{% endblock %}

{% block body_base %}

    {% if user.nomail %}
        <div style="border: 1px solid #ff0000; margin: 10px auto; width: 500px; background: #ffbbbb; padding: 0 15px 0px; border-radius: 0.5em; -moz-border-radius: 0.5em; -webkit-border-radius: 0.5em; text-align: center;">
            {% if user.bouncing %}
                <h2>Your email address is bouncing</h2>
    
            {% else %}
                <h2>myEWB emails to your account are disabled</h2>
            {% endif %}

            <a href="{% url acct_email %}">Click here to resume email delivery</a>
            <br/><br/>
        </div>
    {% endif %}

<div class="chapterdash-background">
  <div class="container_16 second-container">

    <div class="grid_11 border-right">

        <div id="chapter_dashboard" style='height: 175px;'>
        {% if request.user.is_authenticated %}
                {% if request.user.get_profile.get_chapter %}
			&nbsp;
                {% else %}
                    <h2 class="chapterspecific-title h2bold">Join a chapter</h2>

                    <p>
                        EWB has university chapters and city networks across Canada.
                        <br/>
                        <a href="{% url networks_index %}">Click here to browse our chapters
                        and to join one.</a>
                    </p>

                    <p>
                        Or, if you identify with EWB through another group, 
                        <br/>
                        <a href="{% url communities_index %}">find that group</a>
                        and click "add to dashboard".
                    </p>
                    
                {% endif %}
        {% else %}
            <h2 class="chapterspecific-title h2bold">Engineers Without Borders Canada</h2>

            <p>Welcome to myEWB, the online community for Engineers Without Borders Canada!</p>

            {% if login_form %}
                <form class="uniForm" id="mainpagelogin" method="POST" action="{% url acct_login %}">
                <fieldset class="inlineLabels">
                    <div style="float: right; width: 40%; margin-top: 5px;">
                    <input type="submit" value="{% trans "sign in" %} &raquo;" />
                    <br/><br/>
                    <a href="{% url acct_passwd_reset %}">{% trans "Forgot your password?" %}</a><br/>
                    <a href="{% url acct_signup %}">{% trans "Create an account" %}</a>
                    </div>
                    
                    <div style="margin-right: 30%; margin-top: 20px;">
                    <p>
                    <label for="id_login_name">Email:</label>
                    <input id="id_login_name" type="text" name="login_name" maxlength="75" />
                    </p>

                    <p>
                    <label for="id_password">Password:</label>
                    <input type="password" name="password" id="id_password" />
                    </p>
                    
                    <p><label>&nbsp;</label>
                    <input type="checkbox" name="remember" id="id_remember" />
                    <label for="id_remember" style="float: none; display: inline;">
                        Remember me
                    </label>
                    </p>
                    </div>
                    
                </fieldset>
                </form>
            {% endif %}
    	{% endif %}
    	</div>
    	
    	<div style='padding: 10px 10px 0 0;'>
        <div style='border-radius: 0.5em; padding: 1em; background: #f8efda;'>
            <h2 class="h2bold" style='width: auto; float: left; margin: 0; padding-right: 20px; font-size: 1.5em;'>
            EWB Dictionary
            </h2>
            <div style='padding-top: 3px;'>
	        {% dictionary_search %}
	        </div>
        </div>
        </div>
    </div>

    <div class="grid_5" style="margin-right: -2px;">
        <h2 class="chapterspecific-title h2bold">EWB Canada</h2>

        <div style='width: 280px; height: 200px; background: #303030;'>
        <div id="fontpageflash">
{#        <iframe width="280" height="200" src="http://www.youtube.com/embed/videoseries?list=PL051E08531127EA5F&amp;hl=en_US&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>#}
	<iframe width="280" height="200" src="http://www.youtube.com/embed/videoseries?list=UU7ItoGjleOzzuMFe-DckXTg&amp;hl=en_US&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
{#            <iframe width="280" height="200" src="http://www.youtube.com/embed/7U1xLwaIHI4?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>#}
        </div>
        </div>

    </div>

    {% comment %}
    <div class="grid_16">
    	<div style='width: 325px; float: left;'>
        	<a href="{% url dictionary_home %}"><img src="{{ STATIC_URL }}images/logos/urbandictionary.png"/></a>
        	<br/>
    	    {% dictionary_search %}

    	</div>
    	<div style='margin-left: 325px; margin-top: 10px;'>
    	    {% dictionary_latest_long %}
    	    
            <div style='padding: 5px 0;'>
                <a href="{% url dictionary_home %}">See more Urban Dictionary: EWB &raquo;</a>
            </div>
    	    
    	</div>
    	
    	<div style='clear: both; height: 5px;'></div>
    	<hr/>
    	
        {% if not request.user.is_authenticated %}
            <form class="uniForm" id="mainpagelogin" method="POST" action="{% url acct_login %}" style='text-align: center;'>
                <strong>Sign in to myEWB</strong><br/>
                <label for="id_login_name" style='display: inline; float: none;'>Email:</label>
                <input id="id_login_name" type="text" name="login_name" maxlength="75" style='display: inline; float: none;'/>
                
                &nbsp;&nbsp;&nbsp;&nbsp;

                <label for="id_password" style='display: inline; float: none;'>Password:</label>
                <input type="password" name="password" id="id_password" style='display: inline; float: none;'/>
                
                &nbsp;&nbsp;&nbsp;&nbsp;

                <input type="submit" value="{% trans "sign in" %} &raquo;" style='display: inline; float: none;'/>
                
                <br/>

                <a href="{% url acct_passwd_reset %}">{% trans "Forgot your password?" %}</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url acct_signup %}">{% trans "Create an account" %}</a>
            </form>

        {% endif %}

    </div>
    {% endcomment %}
  </div>
</div>


<div class="smallfooter-background">
	<div class="dividerstyle">
	  <div class="ds1"></div>
	  <div class="ds2"></div>
	  <div class="ds3"></div>
	  <div class="ds4"></div>
	  <div class="ds5"></div>
	  <div class="ds6"></div>
	
	</div>


<div class="container_16">
  <div class="grid_11">
    <!-- Left column. Chapterspecific, followed by latest posts. -->

    <h2 class="h2bold" id="latest_discussions">
    	Latest Discussions

        {% comment %}    	
    	<select class='normalize'>
    		<option>-- switch to --</option>
    		<option>Active discussions</option>
    		<option>Relevant discussions</option>
    		<option>My watchlist</option>
    	</select>
        {% endcomment %}    	
    </h2>
    {% if request.user.is_authenticated %}
        <a href="{% url topic_new %}" class="new_discussion">Start a new discussion &raquo;</a>
    {% endif %}


	<div id="topiclisting" style="padding-right: 20px;">
    <div class="frontpage-loading">
      Loading...<blink>.</blink>
      <a href="#" id="frontpage-loading-refreshlink">[refresh]</a> 
    </div>
		{#<img src="{{STATIC_URL}}images/ajax-loader2.gif"/>#}
	</div>


  </div>

  <div class="grid_5">

  	<a href="{% url winedown_all %}" style="float: right; font-size: 10px; margin-top: 2.5em;">What is this?</a>
    <h2 class="h2bold">
        Cheers
    </h2>
    {% if request.user.is_authenticated %}
        <a href="{% url winedown_cheers_new %}" class="new_discussion cheers">Add your cheers &raquo;</a>
    {% endif %}

    <div class="standardbox ewb-latest">
      <div class="standardbox-content" style="padding-top: 0;">
      	<div id="cheerslist">
{#          	{% show_latest_cheers %}#}
        </div>
      	
      	<br/>
      	<a href="{% url winedown_all %}">See all cheers &raquo;</a>
      </div>
    </div>
  </div>



</div>
</div>


{% comment %}
<div class="bigfooter-background">


  {% include "components/bigfooter.html" %}

</div>
{% endcomment %}


{% endblock %}
