{% extends "topics/base.html" %}

{% load avatar_tags %}
{% load i18n %}
{% load uni_form_tags %}
{% load pagination_tags %}
{% load group_tags %}
{% load tagging_tags %}
{% load events_tags %}
{% load cache %}
{% load champ_tags %}
{% load perspectives %}
{% load networks_tags %}
{% load winedown_tags %}
{#{% load fake_ads %}#}

{% block extra_head %}
    {{ block.super }}
    
    <link rel="alternate" type="application/rss+xml" title="myEWB Front Page" href="{% url topic_feed_all %}" />
    

	
	{% comment %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/toolbars.css" />   
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ba-bbq.min.js"></script>
	{% endcomment %}
	
	{# JS here for the frontpage ajax updates #}
<script type="text/javascript">
// Frontpage Ajax updates


var timeout_id = 0;

// this goes into the external javascript file later
function install_cheers() {
    $('.cheers').unbind('click');
    
    $('.cheers').click(function() {
        var cheerslink = $(this);
        $.get($(this).attr('href'), function(data) {
            $('.cheerscount', cheerslink.parent()).html(data);
            cheerslink.hide();
        });
        return false;
    });
}

// so does this
function install_watchlists() {
    $('.watchlist-toggle').unbind('click');
    
    $('.watchlist-toggle').click(function() {
        {% if user.is_authenticated %}
        var my_id = $(this).attr('id').substr(17);

        if($(this).hasClass('toggle-remove')) {
            // remove it from the watchlist when clicked
            var my_obj = $(this);
            $.get('{% url topic_watchlist_remove user.pk %}' + my_id + '/',
                function() {
                    my_obj.removeClass('toggle-remove');
                    my_obj.addClass('toggle-add');
                    my_obj.addClass('faded');
                });
        } else {
            var my_obj = $(this);
            $.get('{% url topic_watchlist_add user.pk %}' + my_id + '/',
                function() {
                    my_obj.removeClass('toggle-add');
                    my_obj.addClass('toggle-remove');
                    my_obj.removeClass('faded');
                });
        }
        {% endif %}
        return false;
    });
}

// and this too.
$().ready(function() {
    $('.cheers_detail').colorbox({opacity: '0.5', width: '50%', height: '50%'});
});

function load_homepage_posts()   // now, this'll be a behind-the-scenes function that's only called by hashchanges.
{
  clearTimeout(timeout_id)

  fetchUrl = "/?ajax=1";

  if (console && console.log){
    console.log( $.now(), 'Starting, ' );
  }


  $.ajax({
    // Your usual AJAX parameters here.
    
    url: fetchUrl,
    
    success: function(data) {
    
      if (console && console.log){
        console.log( $.now(), 'Data ready, ' );
      }
    
      $(document).ready(function() {
        // DOM manipulation here.
        
        if (console && console.log){
          console.log( $.now(), 'Loaded.');
        }
        
        $('#topiclisting').html(data);
        
        runDelayedAvatarLoad();

        install_watchlists();
        install_cheers();
        
        
      });
    }
    
  });


{% comment %}

    
    $('#topiclisting').load(url,
        function() {
            $('.frontpage-loading').stop().hide();

            // if hidden earlier, need to re-show here
            //$('#topiclisting').show();

            // catch pagination-related clicks and load via ajax
            $('.pagination a').click(function() {
               	targetPage =  $.deparam( $(this).attr('href') )['?page'] ;
               	var state = {};
               	state['page'] = targetPage;
               	$.bbq.pushState( state );
               	if(shortPosts!=true)
                {
                	$().scrollTo(0,600);
                }
                return false;
            });

            install_cheers();
		});
		
		
{% endcomment %}


	// and set a timer to auto-refresh... every half hour, let's say?
    timeout_id = setTimeout('load_homepage_posts()', 30 * 60 * 1000, true);
}



function chapter_dashboard()
{
	{% if request.user.is_authenticated %}
		{% if request.user.get_profile.get_chapter %}
		
		
		
		  {% comment %}
		
			$('#chapter_dashboard').load('{% url group_summary request.user.get_profile.get_chapter.slug %}',
				function() {
					$('#dashboard_links a').mouseover(function() {
						var myname = $(this).attr('id').substr(10);
						$('.dashboard-detail').hide();
						$('#' + myname).show();

						$('#dashboard_links a').removeClass('current');
						$(this).addClass('current');
					});
				});
		
		    {% endcomment %}
		
		
		    fetchUrl = "{% url group_summary request.user.get_profile.get_chapter.slug %}";
		
        $.ajax({
          // Your usual AJAX parameters here.
          
          url: fetchUrl,
          
          success: function(data) {
          
            if (console && console.log){
              console.log( $.now(), 'CD Data ready, ' );
            }
          
            $(document).ready(function() {
              // DOM manipulation here.
              
              if (console && console.log){
                console.log( $.now(), 'CD Loaded.');
              }
              
              $('#chapter_dashboard').html(data);
              
    					$('#dashboard_links a').mouseover(function() {
    						var myname = $(this).attr('id').substr(10);
    						$('.dashboard-detail').hide();
    						$('#' + myname).show();
    
    						$('#dashboard_links a').removeClass('current');
    						$(this).addClass('current');
    					});
              
      
              
              
            });
          }
          
        });
		
		
		
		
		
		
		
		{% else %}
{#			$('#chapter_dashboard').html("You aren't in a chapter.  We should prompt you to join one, or pick some other default group."); #}
			return false;
		{% endif %}
	{% else %}
{# 		$('#chapter_dashboard').html("You aren't signed in. We shoudl display some generic static content here, or a big sign-in box.");#}
		return false;
	{% endif %}
}
	
	chapter_dashboard();
load_homepage_posts();
	
$(document).ready(function() {




});
 
 </script>
 
 
{% endblock %}

{% block frontpagerightJS %}

{# commented out toggleable toolbars here - could eventually build back a sidebar block customizer option #}

{% endblock %}


{% block head_title %}{% trans "Home" %}{% endblock %}

{% block subnav_base %}{% endblock %}

{% block body_base %}

<div class="chapterdash-background">
  <div class="container_12 second-container">

    <div class="grid_9">

      <div class="border-right" id="chapter_dashboard">
        {% if request.user.is_authenticated %}
                {% if request.user.get_profile.get_chapter %}
			&nbsp;
                {% else %}
                        You aren't in a chapter.  We should prompt you to join one, or pick some other default group.
                {% endif %}
        {% else %}
                <p>Welcome to myEWB, the online community for Engineers Without Borders Canada!</p>

		<p>You're a guest, you're a guest, and we encourage you to sign in or create an account.  We won't bite... promise!
		</p>

                {% if login_form %}
			<p>
                            <strong>Sign in to myEWB</strong> (ok, we really need to clean up this formatting)
                        <form class="toolbarlogin" method="POST" action="{% url acct_login %}">
                            {% for field in login_form %}
                                    {{ field.label_tag }}:
                                    {{ field }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            {% endfor %}<br/>
                            <input type="submit" value="{% trans "sign in" %} &raquo;" /> --
                                            <a href="{% url acct_signup %}">{% trans "Sign up" %}</a> --
                            <a href="{% url acct_passwd_reset %}">{% trans "Forgot password?" %}</a>
                    </form>
</p>
            {% endif %}

	{% endif %}
      </div>

    </div>

    <div class="grid_3">
        <h2 class="chapterspecific-title h2bold">EWB Canada</h2>

        <div class="youtube-preview" style="background-image:url(http://i3.ytimg.com/vi/U1Ni9nvtYhE/default.jpg);"></div>

    </div>


  </div>
</div>


<div class="dividerstyle">
  <div class="ds1"></div>
  <div class="ds2"></div>
  <div class="ds3"></div>
  <div class="ds4"></div>
  <div class="ds5"></div>
  <div class="ds6"></div>

</div>


<div class="container_12 third-container">


  <div class="grid_12">
    <h2 class="h2bold">Latest Discussions</h2>
  </div>

  <div class="grid_9">
    <!-- Left column. Chapterspecific, followed by latest posts. -->



	<div id="topiclisting">
    <div class="frontpage-loading">
      Loading...<blink>.</blink>
      <a href="#" id="frontpage-loading-refreshlink">[refresh]</a> 
    </div>
		{#<img src="{{STATIC_URL}}images/ajax-loader2.gif"/>#}
	</div>


  </div>
  <!-- end .grid_9 -->

  <div class="grid_3">




    <div class="standardbox ewb-latest">
      <div class="standardbox-title">Wine Down!</div>
      <div class="standardbox-content">
        {% show_latest_cheers %}
        {% comment %}
        <p>
        <a class="cheers cboxElement" href="#">Blah blah blah</a><br>
                <span style="color: #a0a0a0; font-size: 10px;">cheers'ed by 12 people</span>
                <br><br>
        </p>
        {% endcomment %}

      </div>
    </div>
  </div>
  <!-- end .grid_3 -->



</div>




<div class="bigfooter-background">


  {% include "components/bigfooter.html" %}

</div>



{% endblock %}
