{% load avatar_tags %}


<div id="whos_online_ajax">
	{% for online in online_users %}
{#{% ifnotequal online.username 'francis' %}#}

{#	    <div style="padding-bottom: 4px;"><a href="{% url profile_detail online %}">{{ online.visible_name }}</a></div>#}


		<a href="{% url profile_detail online %}"  class="avatar-whos-online" data-background-src="{% avatar_url online 25 %}" title="{{ online.visible_name }}" style='background-size: 100%;'>
		
  		{#<img src="{% avatar_url online 25 %}" alt="{{ online.visible_name }}" title="{{ online.visible_name}}" style="padding: 5px; height: 25px; width: 25px;"/>#}
		
		</a>

{#{% endifnotequal %}#}
	{% endfor %} <br style='clear: left;'/>
	{% if online_anon %}
		and {{ online_anon }} guest{{ online_anon|pluralize }}
	{% endif %}
	
	{% if perms.profiles %}
	    <p><a href="{% url whosonline %}">detailed activity tracking</a></p>
	{% endif %}
</div>

<div id="inbox_count_ajax" style="display: none;">
	<a href="{% url messages_inbox %}">{{ messages_inbox_count }} unread message{% ifnotequal messages_inbox_count 1 %}s{% endifnotequal %}</a>
</div>
