/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #444; }

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a, a:link {
/*    color: #fd9200; or #CB5E00;  or #db7403; */
    color: #cb5e00;
    text-decoration: none;
}
/*
a:visited {
    color: #CB5E00;
}
*/
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
    outline: 0;
    text-decoration: underline;
}


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9 
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
   Primary styles
   Author: Sean, 2011-09-30
   ========================================================================== */

/* === Shared components === */

ul.inliner {
margin:0;
padding: 0;
list-style: none;
}
ul.inliner li {
list-style: none;
}

/*
h2:first-child {
margin-top: 0;
}
*/

div.noborder {
border: none !important;
}

a.quietlink {
color: inherit;
}

a.quietlink:hover {
text-decoration: none;
}


.border-right {

  border-right: 1px solid #ccc;
  
  border-right-width: 2px;
  -moz-border-right-colors: #fff #f7dfa6;  /* eebd81 e7c26a f8efda */

}

.border-bottom {
  border-bottom: 1px solid #ccc;
  border-bottom-width: 2px;
  -moz-border-bottom-colors: #fff #f7dfa6;  

}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.h2bold,  .bigfooter-background h3, .smallfooter-background h3 {
color: #7e3b00;
text-shadow: 0 1px 0 #FFFFFF;
}

/* maybe... still playing ... *
h1, h2 {
    background: url('../images/headerlogo2.png') no-repeat left center;
    padding-left: 35px;
}
*/

h1.noicon, h2.noicon {
	background: none;
	padding-left: 0;
}



/* === Primary layout and colour setup === */


body {
    font-family: 'Ubuntu', 'Open Sans', "Lucida Grande", sans-serif;
    border-left: 10px solid #fd9200;
    border-right: 10px solid #fd9200;
    background: #fd9200;
}

.topround {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    -moz-border-radius-topleft: 1em;
    -moz-border-radius-topright: 1em;
    -webkit-border-top-left-radius: 1em;
    -webkit-border-top-right-radius: 1em;
}

#maincontent {
    background: #ffffff;
    padding-top: 1em;
    margin-bottom: 10px;
    margin-top: -1em;
    border: 2px solid #db7403;
}


.grey-background {
    background-color: #FD9200;
    /* http://robertnyman.com/2010/02/15/css-gradients-for-all-web-browsers-without-using-images/ */
    background-image: -moz-linear-gradient(#DB7403, #FD9200);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#db7403), to(#fd9200));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#db7403, endColorstr=#db7403);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#db7403, endColorstr=#fd9200)";
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #CF6904;
    margin: 0 -10px;
}

.myewb-header {



/*overflow: hidden;*/
height: 75px;
padding: 0;
}

.myewb-logo {
float: left;
height: 75px;
overflow: hidden;
padding-right: 10px;
}

.myewb-top-links {
float: left;
height: 75px;
overflow: hidden;
}

.myewb-top-links img {
	display: block;
	margin: 16px auto -3px auto;
	height: 33px;
	width: 33px;
    opacity: 0.8;
    filter:alpha(opacity=80)	/* for IE8 */
}

.myewb-top-links li {
display: inline;
text-align: center;
}

.myewb-header-right {
float: right;
min-width: 100px;
height: 62px;
}
.myewb-header-right .searchbox {
float: left;
padding: 10px;

padding-top: 18px;
}

#global_search_box {
  background: #ffffff url('../../../images/icons/Search.ico') no-repeat center left;
  background-size: 15px;
  padding-left: 20px;
  width: 200px;
  color: #a0a0a0;
  margin: 10px;
}


.myewb-header-right .profile-pic {
float: right;
width: 60px;
padding-right: 10px;
}

.myewb-header-right .profile-pic-link {
padding: 20px 20px 0 20px;
height: 57px;
}

/*
.myewb-header-right .profile-pic a:hover, .myewb-header-right .profile-pic a.current {
padding-bottom: 1px;
}
*/
.myewb-header-right .current {
background: #db7403;
}

.myewb-header-right .profile-pic span {
width: 30px;
height: 30px;

display: block;

box-shadow: 0px 0px 1px #CF6904;
-webkit-box-shadow: 0px 0px 1px #cf6904;
-moz-box-shadow: 0px 0px 1px #cf6904;
}

#profile_links {
	float: right; 
	width: 210px;
	padding: 20px;
	display: none;
	z-index: 100;
	background: #DB7403;
	position: relative;
	top: -15px;
	border-radius: 0.5em;
	border-radius-topright: 0;

	box-shadow: 2px 2px 6px rgba(75, 75, 75, 0.5);
	-webkit-box-shadow: 2px 2px 6px rgba(75, 75, 75, 0.5);
	-moz-box-shadow: 2px 2px 6px rgba(75, 75, 75, 0.5);
}

#profile_links a {
	display: inline;
	padding: 0;
	float: none;
}
#profile_links a:hover {
	text-decoration: underline;
}



.myewb-header a {
display: block;
float: left;
padding: 0 17px;
height: 75px;

color: #ffffff;
text-decoration: none;
}

.myewb-header a:hover {
background-color: #DB7403;
}

.myewb-header a.current {

height: 67px;
border-bottom: 10px solid #db7403; 

}

.myewb-logo a:hover, .myewb-logo a.current {
padding-bottom: 2px;
}

.myewb-logo a {
    font-size: 3em;
    line-height: 90px;
    
}

.myewb-top-links li a {
/*padding-top: 28px;*/
/*
padding-top: 19px;
height: 16px;
text-transform: uppercase;
font-size: 0.9em;
*/
}
.myewb-top-links li a.current {
font-weight: bold;
}

#subnav {
	background: #db7403;
	padding-bottom: 1em;
}
#subnav ul {
	margin: 10px 0 5px 0;
	padding: 0;
}
#subnav li {
	list-style: none;
	margin: 0;
	padding: 0 15px;
	display: inline;
	border-right: 1px solid #ffffff;
}
#subnav li a {
	color: #ffffff;
}


/* === Chapter Dashboard === */

.second-container {

}


/* Chapterspecific boxes */

.chapterdash-background, .bigfooter-background, .maincontent-background {
background-color: #fff;

/*    background-color: rgba(255, 255, 255, 0.7);*/
    box-shadow: 0 -1px 0 #FFFFFF inset;
    -webkit-box-shadow: 0 -1px 0 #ffffff inset;
    -moz-box-shadow: 0 -1px 0 #ffffff inset;
    margin-top: 0;
    padding: 10px 0;
}
.maincontent-background {
    background-color: #ffffff;
}
.chapterdash-background {
    padding: 20px 0;
    
}
.chapterspecific {


    
}

.chapterspecific-title,  .bigfooter-background h2  {
/* font-size: 1.4em; */
margin: 0 0 10px;
}


.chapterspecific-branch {
padding: 5px 10px 5px 0;
margin: -5px 0 -5px 0;
}

.chapterspecific-branch ul {

list-style: none;
margin: 0;
padding: 0;

}
.chapterspecific-branch ul li a {
    color: #333333;
    display: block;
    padding: 3px 6px 3px 7px;

/*
    border-top: 1px solid transparent;    
    border-bottom: 1px solid transparent;
*/
}

.chapterspecific-branch ul li a.current {
background-color: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0 1px p1x rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px p1x rgba(0, 0, 0, 0.2) inset;
    
    background-color: #fd9200;
    color: white;    
    
    text-decoration: none;
/*
border-bottom-color: #fd9200;
border-top-color: #fd9200;
*/
}

.chapterspecific-branch ul span.numero {

    background-color: #fd9200;
    border-radius: 8px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: white;
    float: right;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 1px 5px;


}
.chapterspecific-branch ul li a.current span.numero {
/*
background: #fff;
color: #fd9200;
*/
box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;

    text-shadow: 0 -1px 0 #CF6904;
}

.chapterspecific-details {



}

#dashboard_links li {
    margin: 5px 0;
}

.dashboard-detail {
    position: relative;
    /*height: 9em;*/
    padding-bottom: 3em;
    line-height: 1.6em;
}
.dashboard-detail-more {
    position: absolute;
    bottom: 0;
    /*
	float: right;
	width: auto;
	*/
	padding: 3px 10px;
	border-top: 1px solid #d0d0d0;
	width: auto;
	margin-left: -10px;
	/*
	margin: -30px 10px 10px;
	border: 1px solid #a0a0a0;
	border-radius: 0.5em;
	-webkit-box-shadow: 2px 2px 2px #a0a0a0;
	*/
}


.youtube-preview {
height: 90px;
width: 100%;
background: no-repeat center center #000;
}




/* === Colourful Divider dealio === */

/* Divider style */

.dividerstyle {
height: 2px;
overflow: hidden;
/*background-color: #fe9f4c;*/
background: #db7403;
}

.dividerstyle.minidivider {
height: 2px;
}
/*
.dividerstyle div {
width: 16.6%;
float: left;
height: 14px;

    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
}

.dividerstyle.minidivider div {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.dividerstyle div:last-child {
width: 17%;
}

.dividerstyle .ds1, .dividerstyle .ds6 {
background-color: #fe9f4c;
}
.dividerstyle .ds2 {
background-color: #7e3b00;
}
.dividerstyle .ds3 {
background-color: #fe7600;
}
.dividerstyle .ds4 {
background-color: #7e4f26;
}
.dividerstyle .ds5 {
background-color: #cb5e00;
}
*/


/* === Standard sidemenu boxes === */

.standardbox {
    background-color: #fcfaf5;
    background-image: -moz-linear-gradient(center top , #fcfaf5, #fcf6e6);  /* fef2e7 */


    
        border-color: /* #DFDFDF */ #F7DFA6;
    
    /* border-radius: 7px; */
    
    box-shadow: 0 1px 0 #FFFFFF inset;
    -webkit-box-shadow: 0 1px 0 #FFFFFF inset;
    -moz-box-shadow: 0 1px 0 #FFFFFF inset;
        border-style: solid;
    border-width: 1px;
    
    
    margin-bottom: 20px;
}



.standardbox-title {
background-color: #fcf6e6;
background-image: -moz-linear-gradient(center top , #faf8f2, #fcf6e6);


    box-shadow: 0 1px 0 #FFFFFF;
    -webkit- box-shadow: 0 1px 0 #FFFFFF;
    -moz- box-shadow: 0 1px 0 #FFFFFF;
    text-shadow: 0 1px 0 #FFFFFF;


padding: 10px;
font-weight: bold;


/* border-radius: 7px 7px 0 0; */


border-bottom: #F7DFA6 1px solid;

    color: #7E3B00;
    text-shadow: 0 1px 0 #FFFFFF;
    
    font-size: 1.2em;

}

.standardbox-content {
padding: 10px;
}


.standardbox p:first-child {
margin-top: 0;
}



/* Deprecated, 2011-10-08 at 17:30 */

.border-orange {
border-color: #ee8502;  /* F76500 */
}
.border-purple {
border-color: #A71C7F; /* A71C7F */
}
.border-lightblue {
border-color: #90B1D3; /* 90B1D3 */
}
.border-medblue {
border-color: #447FB5; /* 447FB5 */
}
.border-red {
border-color: #EB1F1F; /* EB1F1F */
}
.border-green {
border-color: #C0CC4C; /* C0CC4C */
}




/* === Posts on homepage and search results === */

.third-container {
border: 1px solid #DB7403;
border-top: 0;
background-color: #f8efda;

}

.frontpage-loading {
text-align: center;
}


.minipost {

    background-color: #fcfaf5;
    background-image: -moz-linear-gradient(center top , #fcfaf5, #fcf6e6);  /* fef2e7 */


    
        border-color: /* #DFDFDF */ #F7DFA6;
        
/*     border-radius: 7px; */

    box-shadow: 0 1px 0 #FFFFFF inset;
    -webkit-box-shadow: 0 1px 0 #FFFFFF inset;
    -moz-box-shadow: 0 1px 0 #FFFFFF inset;
        border-style: solid;
    border-width: 1px;

/* border-bottom: none; */

    
    margin-bottom: 20px;
    
    
    
    

}

.minipostcontents {
    padding: 10px;
    
    
/*    border-bottom: 1px solid #CB5E00; */
}

.minipost-thumb {
float: left;

/*padding-right: 8px;*/
padding: 0 6px 2px 14px;
margin-top: -3px;

/* background: url('../images/thumb-shadow.png') no-repeat right bottom; */

}
.minipost-thumb a {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 2px 2px 2px #777777;  /* replaces the PNG image above :) */
    -webkit-box-shadow: 2px 2px 2px #777777;
    -moz-box-shadow: 2px 2px 2px #777777;
    padding: 2px;
}

.avatar-30 {
    height: 30px;
    width: 30px;
    background-size: 30px 30px;
}

.avatar-40 {
height: 44px;
width: 44px;


    border: 1px solid #CCCCCC;
    box-shadow: 2px 2px 2px #777777;  /* replaces the PNG image above :) */
    -webkit-box-shadow: 2px 2px 2px #777777;
    -moz-box-shadow: 2px 2px 2px #777777;
    padding: 2px;
display: block;

background: no-repeat center center #ffffff;
background-size: 40px 40px;


/*     -moz-transition: all 3.1s ease-in-out 0s;  -- doesn't seem to work */
}



.minipost-inside {
margin-left: 74px;
}

.minipost-heading {
/*
  border-bottom: 1px solid #ccc;
  
  border-bottom-width: 2px;
  -moz-border-bottom-colors: #fff #ccc;
*/
  
/*
  
    background-color: #CB5E00;
    color: #FFFFFF;
*/
/*    margin-bottom: 4px; */
    padding: 0 0 4px;
 
/*      box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset; */
    
}


.minipost-title h3 {
margin: 0;
padding: 0;
  text-shadow: 0 1px 0 #FFFFFF;

/*     text-shadow: 0 -1px 0 #A24B00; */
}

.minipost-authortime {
    color: #666666;

}

.minipost-text {
/*   color: #A38337; */

    color: #444444;
    clear: left;
/*
    padding: 5px;
    padding-top: 0;
*/
/*     padding-left: 77px; */
    padding-top: 5px;
    
}


.minipost-rightcontainer {
  float: right;

/*   width: 260px; */
}
.minipost-rightcontainer div {
float: left;
}

.minipost-replydetails {


  padding-left: 10px;
  font-size: 10px;
  color: #666666;
}
.minipost-replycount {
    text-align: center;
    width: 28px;
    
  padding-left: 10px;
  
  font-size: 18px;
  
}
.minipost-replycount .numero {

    background-color: #FD9200;
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: white;
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin-top: 1px;
    padding: 3px 8px;

    text-shadow: 0 -1px 0 #CF6904;

}

.minipost-star {
    text-align: center;
    width: 30px;

}
.minipost-star .starstar {
    display: block;
    font-size: 17px;
    margin-top: 3px;
    
    color: #F7DFA6;  /* A24B00 */
}

.faded {
    opacity: 0.4;
    filter:alpha(opacity=40)	/* for IE8 */
}
.faded:hover {
    opacity: 1;
    filter:alpha(opacity=100)
}

.footerbox {


}

.footerbox h3 {
margin: 0;
font-size: 1.2em;


}



.smallfooter-background {
	background-color: #f8efda;
}

.smallfooter-background ul {
list-style: none;
margin: 0;
padding: 0;

}

#lastfooter {
    text-align: center;
    color: #fafafa;
    padding-bottom: 10px;
}
#lastfooter a, #lastfooter a:link, #lastfooter a:visited {
    color: #fafafa;
}
#lastfooter a:hover {
    text-decoration: underline;
}


.avatar-whos-online {

    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 1px #777777;
    -webkit-box-shadow: 1px 1px 1px #777777;
    -moz-box-shadow: 1px 1px 1px #777777;
    display: block;
    float: left;
    height: 27px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 1px;
    width: 27px;

    background-size: 25px 25px;
background: no-repeat center center #ffffff;


/* option 2 */
/*
    box-shadow: 0 0 2px #777777;
    display: block;
    float: left;
    height: 25px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 0;
    width: 25px;
*/


}





/**** Speech Bubble Icons  -- from http://desandro.com/resources/css-speech-bubble-icon/ *****/
.spch-bub-inside {
  position: relative;
}
a.spch-bub-inside {
  color: #FD9200;
  text-decoration: none;
}
.spch-bub-inside em {
  font-style: normal;
}
.spch-bub-inside em {
  background: #FD9200;
  color: #FFF;
  padding: 0 0.4em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  position: relative;
  
      text-shadow: 0 -1px 0 #CF6904;
  
  

}
.spch-bub-inside .point {
  width: 0;
  height: 0;
  position: absolute;
  top: 1.1em;
  left: 0.4em;
  display: block;
  border-left: 0.45em solid #FD9200; 
  border-bottom: 0.45em solid #FFF; /* IE fix */
  border-bottom: 0.45em solid rgba(0,0,0,0); 
  overflow: hidden; /* IE fix */
  

  
}
a.spch-bub-inside:hover {
  color: #FD9200;
}
a.spch-bub-inside:hover em {
  cursor: pointer;
/*
  background: #F00;
  color: #FF0;
*/
}
a.spch-bub-inside:hover .point {
/*   border-left: 0.5em solid #FD9200;  */
}

.toolbarheader {
	font-weight: bold;
	font-size: 1.2em;
	border-left: 1px solid;
	padding-left: 10px;
}

.toolbarcontent {
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-left: 1px solid;
	padding-left: 10px;
}

.toolbarcontent p {
	margin: 0;
	padding: 10px 0;
}

select.normalize {
	margin-left: 20px;
	font-size: 12px;
	position: relative;
	top: -3px;
	/*border: 1px solid #f7dfa6;*/
	border: 1px solid #db7403;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
	background: #fcf6e6;
	padding: 3px;
}

#new_discussion {
	position: relative;
	top: -10px;
	left: 37px;
}

#mainpagelogin label {
    text-align: right;
}

.cheerswidgetcount {
    font-size: 14px;
    color: #a0a0a0;
    position: relative;
    top: -4px;
    left: -8px;
}

#cheerscomment label {
    display: block;
}
#cheerscomment textarea {
    height: 50px;
}
a.cheers, a:hover.cheers {
    text-decoration: none;
}

.redwarning {
    color: #ff0000;
}


table.messages th, table.messages td {
    text-align: left;
    padding: 5px 30px 5px 0;
}

li.attachmentItem img {
    width: 16px;
    height: 16px;
}

div.createaccount {
float:right;
margin-right:20%;
}

div#content div.createaccount input[type="button"] {
font-size: 1.2em;
padding:1.5em 2.5em;
}

form.login {
    width: 53%;
}

form.login .inlineLabels label {
    width: 10em;
    text-align: right;
    font-weight: bold;
    margin-top: 0.6em;
}
form.login .inlineLabels input[type="text"], form.login .inlineLabels input[type="password"] {
width: 180px;
}


form.login label[for="id_remember"] {
    visibility: hidden;
}
form.login label[for="id_remember"].remember-me-label {
display:inline;
float:none;
font-weight:normal;
visibility:visible;
}

form.login fieldset.inlineLabels p {
clear:both;
}

div.groupitem {
border:1px solid #ddd;
float:left;
margin-right:25px;
padding:10px;
width:225px;
min-height:95px;
margin-bottom: 25px;
}

/*
Styles for the chapter list page
possibly also to be used by the mailinglist/communities page
*/
div.chapterlist h2 {
clear:both;
}
div.chapterlist dl {
border:1px solid #ddd;
float:left;
margin-right:10px;
padding:10px;
width:225px;
min-height:95px;
}
div.communitieslist dl {
min-height:130px;
}


div.chapterlist dt {
font-size: 1.3em;
font-weight: bold;
}
div.chapterlist dt a {
}

div.chapterlist dd {
margin:0;
}

div.chapterlist dd a {
}

div.chapterlist dd a.networks-chaptersite-link {
display:inline-block;
margin-top:7px;
}

div.provincelinklist a {
display: block;
}

table.ui-datepicker-calendar  th {
 background: url('images/bg-highlight.png') repeat-x center center #E2E2E2;
}


/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
