a img {
   	border: 0;
}

table.tablesorter th {
  	text-align: left;
  	background-image: url('{{STATIC_URL}}js/tablesort/bg.gif');
  	background-repeat: no-repeat;
  	background-position: center right;
  	cursor: pointer;
}

#profile-content th {
	vertical-align: top;
	text-align: right;
	padding-right: 20px;
}

#profile-content td p {
	margin: 0;
}

#profile-content td {
	padding-bottom: 15px;
}

#user-history {
		width: 100%;
}