<h1>Help us pick a new myEWB look!</h1>

<p>Check out the different concepts and let us know what you'd like to see in a new myEWB!</p>

<div>
	<a href="{% url themeswitch_select 'myewb1' %}"><strong>The original myEWB</strong></a><br/>
	Back to the original myEWB
</div>
<br/>

<div>
	<a href="{% url themeswitch_select 'myhome' %}"><strong>Front page v2</strong></a><br/>
	Keeps the idea of a dashboard-like front page, but with a new, cleaner layout
</div>
<br/>

<div>
	<a href="{% url themeswitch_select 'activityfeeds' %}"><strong>Activity Feeds</strong></a><br/>
	Makes myEWB all about people: what are others doing???
</div>
<br/>

<div>
	<a href="{% url themeswitch_select 'badges' %}"><strong>Learning passport & badges</strong></a><br/>
	Changes the front-page to focus on your interests & learning
</div>
<br/>

<div>
	<a href="{% url themeswitch_select 'ewbbook' %}"><strong>EWBbook</strong></a><br/>
	The "ewbbook" concept from April Fool's Day (for nostalgia. sadly, not a viable option since it's too much of a facebook clone.)
</div>
<br/>

