<div class="container_12 fourth-container">
  
  
    <div class="grid_12">
      <h2 class="h2bold">Around EWB</h2>
    </div>
    
    <div class="clear"></div>
    
    <div class="grid_4">

      <div class="footerbox ewb-latest border-right">
        <h3 class="footerbox-title">Volunteer Zone</h3>
        <div class="footerbox-content">
        
          <p>Woohoo!</p>
        
        </div>
      </div>

    </div>
    
    <div class="grid_4">

      <div class="footerbox ewb-latest border-right">
        <h3 class="footerbox-title">Blogs</h3>
        <div class="footerbox-content">
        
          <p>Woohoo!</p>
        
        </div>
      </div>

    </div>
    
    <div class="grid_4">
    
      <div class="footerbox ewb-latest noborder">
        <h3 class="footerbox-title">Twitter</h3>
        <div class="footerbox-content">
        
          <p>The latest in real time! In Real Time!</p>
        
        </div>
      </div>
    
    </div>
    
  </div>