      <div class="grid_2 alpha">
        <ul>
          <li><a href="http://www.ewb.ca" target="_new">EWB Canada</a></li>
          <li><a href="http://chapters.ewb.ca" target="_new">Chapter Resources</a></li>
          <li><a href="http://overseas.ewb.ca" target="_new">Overseas Library</a></li>
          <li><a href="http://blogs.ewb.ca/board/" target="_new">Board of Directors</a></li>
        </ul>      
      </div>
      <div class="grid_2 omega">
        <ul>
          <li><a href="http://blogs.ewb.ca" target="_new">World of EWB blogs</a></li>
          <li><a href="http://www.ewb.ca/donate" target="_new">Donations</a></li>
          <li><a href="http://sites.ewb.ca" target="_new">EWB site listing</a></li>
          
        </ul>
      
      </div>
