<div class="container_12 fourth-container">

    <div class="grid_4">
    

      <h3>Essential EWB</h3>
      
      
      {% include "components/essentialewb.html" %}
        
      
      </ul>


    
    </div>

    <div class="grid_4">
    
      <h3>Who's Online</h3>
    

    
      {% include "whosonline.html" %}
    
    </div>
    
    <div class="grid_4">
    
      <h3>myEWB Account</h3>

      <ul>
        {% if request.user.is_authenticated %}
            <li>Signed in as <a href="{% url profile_detail user %}" >{{ user.visible_name }}</a></li>
            <li><strong><a href="{% url acct_logout %}">Sign out</a></strong></li>
        {% else %}
            <li><strong><a href="{% url acct_login %}">Sign in to myEWB</a></strong></li>
        {% endif %}
        <br/>
                
        <li><a href="#">Fran&ccedil;ais</a></li>
        <li><a href="#">Change time zone ({% if detected_timezone %}{{detected_timezone}}{% endif %})</a></li>
        <br/>

      </ul>

    
    </div>


  </div>
